<div class="card-container row">
  <div class="card-title">
    <h1> Filtro </h1>
    <button class="btn btn-principal btn-sm btn-function" (click)="applyFilter()"> <i class="fas fa-search"></i></button>
    <button title="Limpar Busca" class="btn btn-sm btn-function" (click)="limparFiltros()"> <i class="f-gray fas fa-times-circle"></i></button>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-5">
        <input [(ngModel)]="nomeInput" class="form-control filter-input" placeholder="Nome do Item" >
      </div>
      <div class="col-md-4">
        <input [(ngModel)]="categoriaInput" class="form-control filter-input" placeholder="Categoria do Item">
      </div>
      <div class="col-md-3">
        <ng-select [(ngModel)]="statusInput" [items]="['Aguardando', 'Finalizada', 'Cancelada']" placeholder="Status"></ng-select>
      </div>
    </div>
  </div>
</div>

<div class="card-container row">
    <div class="card-title">
      <h1> Doações({{ doacoesFilter?.length }}): </h1>
    </div>
    <div class="card-content">
      <table class="table table-striped table-hover">
        <thead class="thead-blue">
          <th> Item </th>
          <th> Categoria</th>
          <th> Quantidade </th>
          <th> Doador</th>
          <th> Situação </th>
          <th class="text-right"> Ações </th>
        </thead>
        <tbody *ngIf="(!doacoesFilter || doacoesFilter.length == 0) && (!doacoes || doacoes.length == 0)">
        Este abrigo ainda não recebeu doações
        </tbody>
        <tbody *ngIf="(!doacoesFilter || doacoesFilter.length == 0) && (doacoes && doacoes.length > 0)">
        Nenhuma doação foi encontrada
        </tbody>
        <tbody *ngIf="doacoesFilter && doacoesFilter.length > 0">
          <tr *ngFor="let doacao of doacoesFilter" >
            <td> {{ doacao.item.nome }}</td>
            <td> {{ doacao.item.categoria }}</td>
            <td> {{ doacao.quantidade }} </td>
            <td> {{ doacao.doador.nome }}</td>
            <td *ngIf='doacao.status == "Aguardando"'> Aguardando Aprovação</td>
            <td *ngIf='doacao.status == "Finalizada"'> Finalizada</td>
            <td *ngIf='doacao.status == "Cancelada"'> Cancelada</td>
            <td>
              <button class="btn btn-default btn-sm" (click)="read(doacao)"><i class="fas fa-eye"></i></button>
              <button class="btn btn-btn-success btn-sm"
                      *ngIf='doacao.status == "Aguardando"'
                      title="Aprovar doação"
                      (click)="confirmApproveDonation(doacao)"><i class="fas fa-check"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
