.img-abrigo {
	border-radius: 10px;
}

.container-fluid {
	margin-top: 70px;
	height: 100%;
	padding-top: 5%;
}

.background {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://wallpaper-house.com/data/out/8/wallpaper2you_256268.jpg');
	height: 100%;
	width: 100%;
	z-index: 0;
	position: fixed;
}


/* pet lista */
.padding15 {
	padding: 15px;
}

.endereco {
	color: #969696;
}

.container-fluid {
	margin-top: 70px;
	height: 100%;
	padding-top: 5%;
}

.background {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://wallpaper-house.com/data/out/8/wallpaper2you_256268.jpg');
	height: 100%;
	width: 100%;
	z-index: 0;
	position: fixed;
}

ul.list {
	padding: 0;

	.item-list {
		list-style: none;
    padding: 20px;
    border: 1px solid #d3d3d3;
    margin-bottom: 15px;
	}

	img.img-abrigo {
		border-radius: 10%;
	}

	.abrigo-info {
		line-height: 1.4;
		text-align: left;
	}

	.abrigo-title {
		margin-right: 5px;
		margin-bottom: 0px;
		display: inline-block
	}

	i.fa-star.checked {
		color: gold;
	}
}

.foto-perfil {
	width: 100%;
	margin: 10px;
}

.excluir {
	display: block;
	margin-top: 2em;
	color: red;
	cursor: pointer;
	width: max-content;
}