<div class="background"></div>
<div class="container-fluid">

  <!-- detalhes do abrigo -->
  <div class="row padding15">
    <div class="col-md-2">
        <!-- <button class="float-button-left"> <i class="fas fa-chevron-left"></i> </button> -->
    </div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Editar minhas informações: </h1>
        <button class="btn btn-principal btn-sm btn-function" (click)="save()"> <i class="fas fa-save"></i></button>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12">
            <div>
              <tabset>
                <tab heading="Dados Gerais">
                  <div class="row">
                    <div class="col-9">
                      <form role="form" [formGroup]="formNewVisitante">
                        <div class="form-group p-relative">
                          <label> <i class="fas fa-male"></i> Nome: </label>
                          <input appFormUserFeedback [form]="formNewVisitante" formControlName="nome" type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="form-group p-relative">
                          <label> <i class="fas fa-user"></i> Data de Nascimento </label>
                          <input type="text" appFormUserFeedback [form]="formNewVisitante" formControlName="dataNascimento" class="form-control"
                          placeholder="Data de nascimento" [textMask]="{mask: mask.data}">
                        </div>
                      </form>
                      <span class="excluir" (click)="confirmExcluir()"> Excluir conta </span>
                    </div>
                    <div class="col-3 text-center">
                      <img class="foto-perfil" #petfoto id="petfoto" [src]="getFoto()">
                      <label for="alterarFoto" class="btn btn-principal btn-alterar-foto"> Alterar foto</label> <br/>
                      <button *ngIf="blobPerfil" (click)="blobPerfil=null" class="btn btn-danger btn-alterar-foto"> <i class="fas fa-trash"></i></button>
                      <input type="file" style="display: none" name="alterarFoto" id="alterarFoto" (change)="uploadFile($event)">
                    </div>
                  </div>
                </tab>
                <tab heading="Dados do usuário">
                  <form role="form" [formGroup]="formNewUsuarioVisitante">
                    <div class="form-group p-relative">
                      <label> <i class="fas fa-user"></i> Username: </label>
                      <input appFormUserFeedback [form]="formNewUsuarioVisitante" formControlName="username" type="text" class="form-control" placeholder="Usuário">
                    </div>
                    <div class="form-group p-relative">
                      <label> <i class="fas fa-envelope"></i> E-mail: </label>
                      <input appFormUserFeedback [form]="formNewUsuarioVisitante" [textMask]="{mask: mask.email}" formControlName="email" type="text" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group p-relative">
                      <label> <i class="fas fa-key"></i> Senha: </label>
                      <input appFormUserFeedback [form]="formNewUsuarioVisitante" formControlName="password" type="password" class="form-control" placeholder="Senha">
                    </div>
                    <div class="form-group p-relative">
                      <label> <i class="fas fa-key"></i> Confirmar Senha: </label>
                      <input appFormUserFeedback [form]="formNewUsuarioVisitante" formControlName="confpassword" type="password" class="form-control" placeholder="Confirmar Senha">
                    </div>
                  </form>
                </tab>
                <tab heading="Endereço">
                  <form role="form" [formGroup]="formNewEnderecoVisitante">
                    <div class="form-group p-relative">
                      <label> Logradouro: </label>
                      <input appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="logradouro" type="text" class="form-control" placeholder="Logradouro">
                    </div>
                    <div class="form-group p-relative">
                      <label> Número: </label>
                      <input appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="numero" type="text" class="form-control" placeholder="Número">
                    </div>
                    <div class="form-group p-relative">
                      <label> País: </label>
                      <ng-select appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="pais" [items]="paises" bindLabel="nome_pais" bindValue="nome_pais" placeholder="País"></ng-select>
                    </div>
                    <div class="form-group p-relative" *ngIf="formNewEnderecoVisitante.get('pais').value === 'Brasil'">
                      <label> Estado: </label>
                      <ng-select appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="uf" [items]="estados" bindLabel="nome" bindValue="sigla" placeholder="Estado" (change)="updateCidades($event)"></ng-select>
                    </div>
                    <div class="form-group p-relative" *ngIf="formNewEnderecoVisitante.get('pais').value === 'Brasil'">
                      <label> Cidade: </label>
                      <ng-select appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="cidade" [items]="cidades" placeholder="Cidade" ></ng-select>
                    </div>
                    <div class="form-group p-relative">
                      <label> Bairro: </label>
                      <input appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="bairro" type="text" class="form-control" placeholder="Bairro">
                    </div>
                    <div class="form-group p-relative">
                      <label> CEP: </label>
                      <input appFormUserFeedback [form]="formNewEnderecoVisitante" [textMask]="{mask: mask.cep}" formControlName="cep" type="text" class="form-control" placeholder="CEP">
                    </div>
                    <div class="form-group p-relative">
                      <label> Complemento: </label>
                      <input appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="complemento" type="text" class="form-control" placeholder="Complemento">
                    </div>
                  </form>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
        <!-- <button class="float-button-right"> <i class="fas fa-chevron-right"></i> </button> -->
    </div>
  </div>
</div>
