<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Motivo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label> Em poucas palavras diga o motivo da recusa: </label>
    <textarea class="form-control" rows="4" [(ngModel)]="motivo" maxlength="255"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-sm" (click)="recusar()"> Recusar </button>
    <button class="btn btn-default btn-sm" (click)="modalRef.hide()"> Cancelar </button>
  </div>
</ng-template>