<div class="card-container row">
    <div class="card-title">
      <h1> Detalhes do Funcionário: </h1>
      <button class="btn btn-success btn-sm btn-function" (click)="list()">  Voltar </button>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col-md-12">
          <tabset>
            <tab heading="Dados Gerais">
              <form role="form">
                <div class="form-group p-relative">
                  <label> Nome: </label>
                  <label class="form-control"> {{ model.nome }} </label> 
                </div>
                <div class="form-group p-relative">
                  <label> Telefone: </label>
                  <label class="form-control"> {{ model.telefone }} </label> 
                </div> 
              </form>
            </tab>
            <tab heading="Dados de acesso">
              <form role="form">
                <div class="form-group p-relative">
                  <label> <i class="fas fa-user"></i> Username: </label>
                  <label class="form-control"> {{ usuario?.username }} </label> 
                </div>
                <div class="form-group p-relative">
                  <label> <i class="fas fa-envelope"></i> E-mail: </label>
                  <label class="form-control"> {{ usuario?.email }} </label> 
                </div>
                <div class="form-group p-relative">
                  <label> <i class="fas fa-key"></i> Senha: </label>
                  <label class="form-control"> {{ usuario?.password }} </label> 
                </div>
              </form>
            </tab>
            <tab heading="Endereço">
              <form role="form">
                <div class="form-group p-relative">
                  <label> Logradouro: </label>
                  <label class="form-control"> {{ endereco?.logradouro }} </label> 
                </div>
                <div class="form-group p-relative">
                  <label> Número: </label>
                  <label class="form-control"> {{ endereco?.numero }} </label> 
                </div>
                <div class="form-group p-relative">
                  <label> País: </label>
                  <label class="form-control"> {{ endereco?.pais }} </label> 
                </div>
                <div class="form-group p-relative" *ngIf="endereco?.pais === 'Brasil'">
                  <label> Estado: </label>
                  <label class="form-control"> {{ endereco?.uf }} </label> 
                </div>
                <div class="form-group p-relative" *ngIf="endereco?.pais === 'Brasil'">
                  <label> Cidade: </label>
                  <label class="form-control"> {{ endereco?.cidade }} </label> 
                </div>
                <div class="form-group p-relative">
                  <label> Bairro: </label>
                  <label class="form-control"> {{ endereco?.bairro }} </label> 
                </div>
                <div class="form-group p-relative">
                  <label> CEP: </label>
                  <label class="form-control"> {{ endereco?.cep }} </label> 
                </div>
                <div class="form-group p-relative">
                  <label> Complemento: </label>
                  <label class="form-control"> {{ endereco?.complemento }} </label> 
                </div>
              </form>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  