<div class="background"></div>
<div class="container-fluid">

  <!-- detalhes do abrigo -->
  <div class="row padding15">
    <div class="col-md-2">
      <!-- <button class="float-button-left"> <i class="fas fa-chevron-left"></i> </button> -->
    </div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Nova Doação </h1>
      </div>
      <div class="card-content">
        <form role="form" [formGroup]="formNewDonation">
          <div class="row">
            <div class="col-md-12">
              <div>
                <ng-select placeholder="Abrigo"
                           notFoundText="Nenhum abrigo encontrado"
                           loadingText="Buscando abrigos"
                           [items]="abrigos"
                           bindLabel="nome"
                           bindValue="_id"
                           appFormUserFeedback
                           [form]="formNewDonation" formControlName="abrigo"></ng-select>
              </div>
            </div>
            <div class="col-md-8" style="margin-top: 10px;">
              <div>
                <ng-select placeholder="Produto"
                           notFoundText="Nenhum produto encontrado"
                           loadingText="Buscando produtos"
                           [items]="produtos"
                           bindLabel="nome"
                           bindValue="nome"
                           appFormUserFeedback
                           [form]="formNewDonation" formControlName="item"></ng-select>
              </div>
            </div>
            <div class="col-md-4" style="margin-top: 10px;">
              <div>
                <input appFormUserFeedback [form]="formNewDonation" formControlName="quantidade" type="number"
                       class="form-control" placeholder="Qtd"/>
              </div>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
              <div>
                <input appFormUserFeedback [form]="formNewDonation" formControlName="descricao" type="text"
                       class="form-control" placeholder="Descrição"/>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
              <div>
                <button class="btn btn-danger btn-function"
                        (click)="confirmCancelDonationIntent()"> Cancelar
                </button>
                <button class="btn btn-principal btn-function" (click)="save()"> Confirmar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-2">
      <!-- <button class="float-button-right"> <i class="fas fa-chevron-right"></i> </button> -->
    </div>
  </div>

</div>
