<div class="background"></div>
<div class="container-fluid">

  <!-- filtros -->
  <div class="row padding15">
    <div class="col-md-2"></div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Filtros </h1>
        <button class="btn btn-principal btn-sm btn-function" (click)="applyFilter()"> <i class="fas fa-search"></i></button>
        <button title="Limpar Busca" class="btn btn-sm btn-function" (click)="limparFiltros()"> <i class="f-gray fas fa-times-circle"></i></button>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-4">
            <input class="form-control" placeholder="Nome do abrigo" [(ngModel)]="abrigoNomeInput">
          </div>
          <div class="col-md-4">
            <ng-select [items]="estados" [(ngModel)]="estadoSelected" bindLabel="sigla" bindValue="sigla" placeholder="Estado"
            (change)="updateCidades($event)"></ng-select>
          </div>
          <div class="col-md-4">
            <ng-select [items]="cidades" [(ngModel)]="cidadeSelected" placeholder="Cidade"></ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

  </div>

  <!-- resultado -->
  <div class="row padding15">
    <div class="col-md-2"></div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Abrigos encontratos </h1>
      </div>
      <div class="card-content">
        <ul class="list" *ngIf="abrigosFound">
          <li class="item-list" *ngFor="let abrigo of abrigosFound">
            <div class="row">
              <div class="col-md-2">
                <img class="img-abrigo img-fluid" src="https://i.ytimg.com/vi/UgsRYV7Xjv8/maxresdefault.jpg"/>
              </div>
              <div class="col-md-10 abrigo-info">
                <button class="btn btn-principal btn-function" (click)="read(abrigo)"> <i class="fas fa-info-circle"></i> </button>
                <h5 class="abrigo-title"> {{ abrigo.nome }} </h5>
                <i class="fas fa-star" *ngFor="let star of [true, true, true, true, false]" [ngClass]="{'checked': star}"></i> <br/>
                <!-- <sub class="endereco"> Av. Beira Rio, nº 1234, Vitória / Es</sub> -->
                <sub class="endereco"> {{ abrigo.endereco?.logradouro }}, {{ abrigo.endereco?.cidade }} / {{ abrigo.endereco?.uf }}</sub>
              </div>
            </div>
          </li>
        </ul>
        <div *ngIf="abrigosFound === []">
          <span class="f-22">Nenhum abrigo encontrado</span>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

  </div>
</div>
