<div class="card-container row">
  <div class="card-title">
    <h1> Filtros </h1>
    <button class="btn btn-principal btn-sm btn-function" (click)="filter()"> <i class="fas fa-search"></i></button>
    <button title="Limpar Busca" class="btn btn-sm btn-function" (click)="limparFiltros()"> <i class="f-gray fas fa-times-circle"></i></button>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-12">
        <input class="form-control filter-input" placeholder="Nome" [(ngModel)]="nomeInput">
      </div>
      <!-- <div class="col-md-6">
        <input class="form-control filter-input" placeholder="Email" [(ngModel)]="emailInput">
      </div> -->
      <!-- <div class="col-md-3">
        <ng-select [items]="acessoOpts" placeholder="Acesso ao Dashboard" bindLabel='label' bindValue="value" [(ngModel)]="acessoInput"></ng-select>
      </div>
      <div class="col-md-3">
        <ng-select [items]="admOpts" placeholder="Administrador" bindLabel='label' bindValue="value" [(ngModel)]="admInput"></ng-select>
      </div> -->
    </div>
  </div>
</div>

<div class="card-container row">
    <div class="card-title">
      <h1> Funcionários({{ models.length }}): </h1>
      <button class="btn btn-sm btn-function btn-principal" (click)="add()"> <i class="fas fa-plus"></i></button>
    </div>
    <div class="card-content">
      <table class="table table-striped table-hover">
        <thead class="thead-blue">
          <th> Nome </th>
          <th> Telefone </th>
          <th class="text-right"> Ações </th>
        </thead>
        <tbody>
          <tr *ngFor="let i of models">
            <td> {{ i.nome }} </td>
            <td> {{ i.telefone }} </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="confirmDelete(i)"> <i class="fas fa-trash"></i> </button>
              <button class="btn btn-principal btn-sm" (click)="edit(i)"> <i class="fas fa-edit"></i> </button>
              <button class="btn btn-default btn-sm" (click)="read(i)"> <i class="fas fa-info-circle"></i> </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
