@import './creative.scss';

.img-qrcode {
  width: 65%;
  margin-top: 40px;
  border-radius: 30px;
}

.content{
  padding-left: 10%;
  padding-top: 18%;
  width: 55%;
  height: 100%;
  // text-align: center;
  padding: auto;
}

.carousel {
  padding-bottom: 5%;
  text-align: center;
}

.blue-row {
  background-color: rgba(0, 0, 0, 0.2);
}

.about-us-card {
  background-color: #FFF;
  width: 400px;
  height: 490px;
  border-radius: 10px;
  box-shadow: 5px 6px 16px -4px rgba(0,0,0,0.75);
  margin: auto;
}

.foto-pessoa-image {
  // width: 100%;
  height: 100%;
  z-index: 9;
}

.image-header {
  height: 200px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0,0,0,0.60);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 10;
}

.card-nome {
  font-size: 26px;
  color: #444;
  font-weight: bold;

}

.card-cargo {
  font-size: 20px;
  color: #393939;
}

.card-desc-body {
  text-align: center;
  width: 100%;
  padding: 15px;
  height: wrap;
}

.card-desc {
  font-size: 18px;
  color: #444;
}

.card-frase {
  color: #444;
  font-size: 16px;
  font-style: italic;
}

.titulo-principal {
  color: white;
  font-size: 50px;
  font-family: 'Roboto';
}

.subtitulo {
  color: white;
  font-family: 'Roboto';
}

.col-md-3 {
  padding: 5px;
  // margin: 5px;
}


.busca-box{
  width: 83%;
  height: 15%;
  background-color: #f9f9f9;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  padding: 25px 5px 25px 5px;
  min-width: 700px;
}

.row{
  display: flex;
  padding: 5px;
  text-align: left;
}

.scroll-row{
  display: flex;
  padding: 5px;
  text-align: left;
  overflow-x: scroll;
  height: wrap;
  background-color: rgba(0,0,0,0.2);
  padding: 30px 0 20px 0;
}

.search-col {
  flex: 5;
  margin-left: 25px;
  display: block;
}

.select-col {
  flex: 3;
}

.button-col {
  flex: 3;
  margin-right: 10px;
  padding-top : 51px;
  text-align: right;
}
.col-title{
  font-size: 26px;
  text-align: left;
  color: #c5c5c5;
}

.button{
  width: 80%;
  min-width: 100px;
  background-color: #2a588e;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.search-input{
  width: 85%;
  border-radius: 4px;
  border: solid 1px #e9e9e9;
  height: 45px;
  font-size: 22px;
  color: #a0a0a0;
  padding-left: 5px;
}

// .search-input::placeholder {
//   color: #efefef;
// }

/deep/ .nav-tabs .nav-link{
  color: #00a7d5;
}

.select-input{
  width: 85%;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e9e9e9;
  font-size: 22px;
  color: #a0a0a0;
  margin-top: 7px;
}

.comment-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 28px;
  height: 240px;
  box-shadow: 5px 6px 16px -4px rgba(0,0,0,0.75);
}

.comment-box-2 {
  background-color: #fff;
  border-radius: 10px;
  padding: 28px;
  min-height: 500px;
  height: wrap;
  box-shadow: 5px 6px 16px -4px rgba(0,0,0,0.75);
}

.autor-line {
  width: 100%;
}

.circle-img {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 48px;
}

.circle-pink {
  background-color: #ff6783;
  padding: 6px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

/deep/.carousel-item {
  width: 100%;
}

/deep/.carousel-inner {
  text-align: center;
  width: 100%;
  overflow: visible;
  // background-color: rgba(0,0,0,0.20);
  padding: 30px;
}

/deep/.carousel-item-next {
  margin: auto !important;
}
/deep/ .carousel-item.active {
  margin: auto !important;
}
/deep/.carousel-item-prev {
  margin: auto !important;
}

.ngb-slide {
  border: solid 1px red;
}
