<div class="content" id="">
  <h1 class="titulo-principal">
    Encontre um amigo.
  </h1>
  <h5 class="subtitulo">
    Realize doações para auxiliar Pets que não possuem lar, ou pesquise por centenas de abrigos e
    encontre o seu melhor amigo!
  </h5>
  <button class="btn btn-principal" (click)="searchPet()">ENCONTRAR PET</button>
  <button class="btn btn-principal ml-2" (click)="searchAbrigo()">ENCONTRAR ABRIGO</button>
  <!-- <div class="busca-box">
    <tabset>
      <tab heading="Buscar pet" class="b-blue container-fluid">
        <div class="row">
          <div class="col-md-3">
            <input class="form-control" placeholder="Nome do pet" [(ngModel)]="petNomeSearch">
          </div>
          <div class="col-md-3">
            <input class="form-control" placeholder="Raça do pet" [(ngModel)]="petRacaSearch">
          </div>
          <div class="col-md-3">
            <ng-select  [items]="['Pequeno', 'Médio', 'Grande']" placeholder="Tamanho" [(ngModel)]="petPorteSearch"></ng-select>
          </div>
          <div class="col-md-3 text-center">
            <button title="Limpar Busca" class="btn btn-sm btn-function" (click)="limparFiltros()"> <i class="f-gray fas fa-times-circle"></i></button>
            <button class="btn btn-principal btn-sm btn-function" (click)="searchPet()">Encontrar Pet</button>
          </div>
        </div>
      </tab>
      <tab heading="Buscar abrigo" class="b-blue container-fluid">
        <div class="row">
          <div class="col-md-3">
            <input class="form-control" placeholder="Nome do abrigo" [(ngModel)]="nomeSearch">
          </div>
          <div class="col-md-3">
            <ng-select [items]="estados" [(ngModel)]="estadoSelected" bindLabel="sigla" bindValue="sigla" placeholder="Estado"
            (change)="updateCidades($event)"></ng-select>
          </div>
          <div class="col-md-3">
            <ng-select [items]="cidades" [(ngModel)]="cidadeSelected" placeholder="Cidade"></ng-select>
          </div>
          <div class="col-md-3 text-center">
            <button title="Limpar Busca" class="btn btn-sm btn-function" (click)="limparFiltros()"> <i class="f-gray fas fa-times-circle"></i></button>
            <button class="btn btn-principal btn-sm btn-function" (click)="searchAbrigo()">Encontrar Abrigo</button>
          </div>
        </div>
      </tab>
    </tabset>
  </div> -->
</div>

<section class="bg-primary" #about id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-heading text-white"> Quem somos? </h2>
        <hr class="light my-4">
        <div class="row">
          <div class="col-md-6">
            <p class="text-faded mb-4" style="text-align: justify">
              Adota pet é um site sem fins lucrativos, que busca facilitar o processo de adoção de pets,
              atuando como um intermediador entre os adotantes (Pessoa Física) e os abrigos (Pessoa
              jurídica).
            </p>
          </div>
          <div class="col-md-6">
            <p class="text-faded mb-4" style="text-align: justify">
              Assim, fica muito mais fácil o processo dos usuários, no que diz respeito a terem acesso as
              informações dos diversos abrigos, e também, dos abrigos inserirem as suas informações para
              que o público tenha conhecimento do trabalho oferecido por eles, e dos pets que estão
              esperando por você!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue-row">
    <div class="col-lg-10 mx-auto text-center">
      <h2 class="section-heading text-white"> Equipe Web </h2>
    </div>
    <ngb-carousel class="carousel" wrap="false" [showNavigationIndicators]="true">
      <ng-template ngbSlide class="ngb-slide" *ngFor="let pessoa of equipeDash" >
        <div class="about-us-card">
          <div class="image-header">
            <img [src]="pessoa.imagem" class="foto-pessoa-image"/>
          </div>
          <span class="card-nome">
            {{ pessoa.nome }}
          </span><br />
          <span class="card-cargo">
            {{ pessoa.cargo }}
          </span><br />
          <div class="card-desc-body">
            <span class="card-desc">
              {{ pessoa.desc }}
            </span><br /><br />
            <span class="card-frase">
              {{ pessoa.frase }}
            </span>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
   </div>
  <br />
  <br />

  <div class="blue-row row">
    <div class="col-lg-12 mx-auto text-center">
      <h2 class="section-heading text-white"> Equipe Mobile </h2>
    </div>
    <div class="col-6 text-center">
      <img src="../../../assets/qrcode.jpg" class="img-qrcode"/>
    </div>
    <div class="col-6">
      <div class="row">
        <ngb-carousel class="carousel" wrap="false" [showNavigationIndicators]="true">
          <ng-template ngbSlide class="ngb-slide" *ngFor="let pessoa of equipeMobile" >
            <div class="about-us-card">
              <div class="image-header">
                <img [src]="pessoa.imagem" class="foto-pessoa-image"/>
              </div>
              <span class="card-nome">
                {{ pessoa.nome }}
              </span><br />
              <span class="card-cargo">
                {{ pessoa.cargo }}
              </span><br />
              <div class="card-desc-body">
                <span class="card-desc">
                  {{ pessoa.desc }}
                </span><br /><br />
                <span class="card-frase">
                  {{ pessoa.frase }}
                </span>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
<!--
<div class="scroll-row">
  <div class="col-lg-4 mx-auto text-center" *ngFor="let pessoa of grupo">
    <div class="comment-box-2">
      <div class="image-header">
        <img [src]="pessoa.imagem" class="foto-pessoa-image"/>
      </div>
      <span class="card-nome">
        {{ pessoa.nome }}
      </span><br />
      <span class="card-cargo">
        {{ pessoa.cargo }}
      </span><br />
      <div class="card-desc-body">
        <span class="card-desc">
          {{ pessoa.desc }}
        </span><br /><br />
        <span class="card-frase">
          {{ pessoa.frase }}
        </span>
      </div>
    </div>
  </div>
</div> -->
  <!-- <ui-carousel [infinite]="true" [fade]="true" [speed]="200" >
       <ui-carousel-item *ngFor="let item of [1,2,3]">
           <span>ITEM {{ item }}</span>
       </ui-carousel-item>
   </ui-carousel> -->
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery" style="padding: 0">
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img style="width: 100%; height: 235px;" class="img-fluid" src="assets/dog2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Pedrinho
              </div>
              <div class="project-name">
                Abrigo Feliz
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img style="width: 100%; height: 235px;" class="img-fluid" src="assets/dog1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Eduardo
              </div>
              <div class="project-name">
                Abrigo Feliz
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img style="width: 100%; height: 235px;" class="img-fluid" src="assets/dog3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Sabrina
              </div>
              <div class="project-name">
                Abrigo Cão Amigo
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img style="width: 100%; height: 235px;" class="img-fluid" src="assets/cat1.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Bilico
              </div>
              <div class="project-name">
                Abrigo Cute Cat
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img style="width: 100%; height: 235px;" class="img-fluid" src="assets/cat3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Lari
              </div>
              <div class="project-name">
                Abrigo Cute Cat
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-box">
          <img style="width: 100%; height: 235px;" class="img-fluid" src="assets/ca2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Zuck
              </div>
              <div class="project-name">
                Abrigo Cute Cat
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='comofunciona'>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2 class="section-heading">Como funciona?</h2>
        <hr class="my-4">
      </div>
      <div class="col-lg-6 text-center">
        <h2 class="section-heading">O que é preciso?</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <p class="text-muted mb-0" style="text-align: justify">
          Na nossa plataforma do AdotaPet, o sistema oferece o registro do seu abrigo e a inclusão dos animais que estarão em processo de adoção.
          Também oferecemos a divulgação online dos animais disponíveis para adoção. <br />
          Dessa forma, muitas pessoas podem ver as fotos e as informações dos bichos que precisam de um novo lar.<br />
          Também oferecemos a oportunidade que você contribuía com a nossa plataforma com doações de todos os tipos,
          desde de quantias em dinheiros a produtos de higienização animal, alimentação e roupas para animais.

        </p>
      </div>
      <div class="col-lg-6 text-center">
        <p class="text-muted mb-0" style="text-align: justify">
          Para adotar é preciso que você tenha um cadastro na nossa plataforma, tenha mais de 18 anos e responda atentamente no momento da adoção o questionário que será apresentado,
          esse questionário é essencial para que tenhamos certeza que você terá condições de cuidar com carinho do animalzinho.<br />
          Acompanhe também os depoimentos de usuários que utilizaram nossa plataforma na página de “Depoimentos”, temos a certeza de que você vai se apaixonar assim como nós com todos os relatos apresentados!
        </p>
      </div>
    </div>
  </div>
</section>

<section >
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <h2 class="section-heading">Quero Adotar!</h2>
        <hr class="my-4">
      </div>
      <div class="col-lg-6 text-center">
        <h2 class="section-heading">Quero Doar!</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <p class="text-muted mb-0" style="text-align: justify">
          Que bom! Ficamos felizes em saber que você quer adotar um pet! Porém, nós precisamos
          saber um pouco sobre você, pois, assim como na maioria dos abrigos, necessitamos saber
          disso pois uma grande parte dos pets foram abandonados pelos seus donos. Nós queremos
          ajuda-los e fazer com que eles se sintam felizes, pois não merecem serem tratados com
          desprezo. <br/><br/>
          Será necessário que você preencha um formulário, e após analisarmos as informações
          entraremos em contato.
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <p class="text-muted mb-0" style="text-align: justify">
            Como foi dito no início, nós somos um grupo sem fins lucrativos. Assim, toda doação é bem-
            vinda! <br/><br/>
            Caso você queira realizar alguma doação (Verba para manutenção, Alimentos, Medicações,
            Vacinas, etc.), Basta entrar em contato conosco.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="bg-primary" style="padding: 5rem" id='depoimentos'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2 class="section-heading text-white"> Depoimentos </h2>
        <hr class="light my-4">
        <div class="row">
          <div class="col-md-12 text-faded">
            <p class="mb-4">
              Para termos a garantia da qualidade que os abrigos prestam aos pets e aos adotantes,
              nós coletamos as avaliações das pessoas que já tiveram a experiência de adotar através do AdotaPet.
              Estas avaliações são autênticas e garantidas por nós. <br/><br/>
              Envie também a sua história! É muito importante para nós e para quem procura um pet!
              adotapetadotapet@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto text-center">
        <div class="comment-box">
          <p style="text-align: justify">
            <strong> Perfeito! </strong> É maravilho saber que temos por perto abrigos com amor e disponibilidade tão
            grande para realizar a adoção de pets.
          </p>
          <div class=" row">
            <div class="circle-img circle-pink col-md-2"> E </div>
            <div class="col-md-10" style="font-size: 11px">
              <strong> Eduardo </strong> - Vila Velha/ES <br>
              Adotou no abrigo Casa dos Animais
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mx-auto text-center">
        <div class="comment-box">
          <p style="text-align: justify">
            <strong> Perfeito! </strong> É maravilho saber que temos por perto abrigos com amor e disponibilidade tão
            grande para realizar a adoção de pets.
          </p>
          <div class=" row">
            <div class="circle-img circle-pink col-md-2"> R </div>
            <div class="col-md-10" style="font-size: 11px">
              <strong> Rebeca </strong> - Vila Velha/ES <br>
              Adotou no abrigo Casa dos Animais
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mx-auto text-center">
        <div class="comment-box">
          <p style="text-align: justify">
            <strong> Perfeito! </strong> É maravilho saber que temos por perto abrigos com amor e disponibilidade tão
            grande para realizar a adoção de pets.
          </p>
          <div class=" row">
            <div class="circle-img circle-pink col-md-2"> P </div>
            <div class="col-md-10" style="font-size: 11px">
              <strong> Pedro </strong> - Vila Velha/ES <br>
              Adotou no abrigo Casa dos Animais
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
    <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
        </p>
      </div>
    </div>
  </div>
</section> -->
