<div class="sidebar-top" [routerLinkActive]="['background-none']">
  <div class="row">
    <div class="col-md-6">
      <h1 class="logomarca" routerLink="/inicio"> AdotaPet</h1>
    </div>

    <div class="col-md-6">
			<div class="menu-items">
				<a class="link-item" (click)="sobreNos()"> Quem somos </a>
				<a class="link-item" (click)="comoFunciona()"> Como funciona </a>
				<a class="link-item" (click)="depoimentos()">  Depoimentos </a>
				<a class="link-item" (click)="logout()" *ngIf="visitanteService.visitanteLogged"> Sair </a>
				<a class="link-item" (click)="openLogInModal(modalLogar)" *ngIf="!visitanteService.visitanteLogged"> Entrar </a>
				<a class="link-item" (click)="openRegisterModal(modalCadastrar)" *ngIf="!visitanteService.visitanteLogged"> Registrar </a>
				<img class="perfil-img" #petfoto id="petfoto" [src]="getFoto()" *ngIf="visitanteService.visitanteLogged" (click)="editarVisitante()">
			</div>
    </div>
  </div>
</div>

<!-- modal cadastrar -->
<ng-template class="modal-cadastro" #modalCadastrar>
	<div class="modal-header title-modal">
		<h4 class="modal-title pull-left">Cadastre-se</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalCadastro.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="back-button">
			<span role="button" *ngIf="etapa !== etapasCadastro.PRIMEIRA" (click)="voltarEtapa()"> < VOLTAR</span>
		</div>
		<div *ngIf="etapa === etapasCadastro.PRIMEIRA">
			<div class="row">
				<div class="col-md-12 title-content">
					<h1 class="title">
						Deseja se cadastrar como
						adotante ou como abrigo?
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 text-right">
					<button class="btn btn-principal" (click)="changeEtapa(etapasCadastro.ADOTANTE)"> Visitante </button>
				</div>
				<div class="col-md-6">
					<button class="btn btn-principal" (click)="changeEtapa(etapasCadastro.ABRIGO)"> Abrigo </button>
				</div>
			</div>
		</div>
		<div *ngIf="etapa === etapasCadastro.ADOTANTE">
			<tabset>
				<tab heading="Dados Gerais">
					<form role="form" [formGroup]="formNewVisitante">
						<div class="form-group p-relative">
							<label> <i class="fas fa-male"></i> Nome: </label>
							<input appFormUserFeedback [form]="formNewVisitante" formControlName="nome" type="text" class="form-control" placeholder="Nome">
						</div>
						<div class="form-group p-relative">
							<label> <i class="fas fa-user"></i> Data de Nascimento </label>
							<input type="text" appFormUserFeedback [form]="formNewVisitante" formControlName="dataNascimento" class="form-control"
							placeholder="Data de nascimento" [textMask]="{mask: mask.data}">
						</div>
					</form>
				</tab>
				<tab heading="Dados do usuário">
					<form role="form" [formGroup]="formNewUsuarioVisitante">
						<div class="form-group p-relative">
							<label> <i class="fas fa-user"></i> Username: </label>
							<input appFormUserFeedback [form]="formNewUsuarioVisitante" formControlName="username" type="text" class="form-control" placeholder="Usuário">
						</div>
						<div class="form-group p-relative">
							<label> <i class="fas fa-envelope"></i> E-mail: </label>
							<input appFormUserFeedback [form]="formNewUsuarioVisitante" [textMask]="{mask: mask.email}" formControlName="email" type="text" class="form-control" placeholder="E-mail">
						</div>
						<div class="form-group p-relative">
							<label> <i class="fas fa-key"></i> Senha: </label>
							<input appFormUserFeedback [form]="formNewUsuarioVisitante" formControlName="password" type="password" class="form-control" placeholder="Senha">
						</div>
						<div class="form-group p-relative">
							<label> <i class="fas fa-key"></i> Confirmar Senha: </label>
							<input appFormUserFeedback [form]="formNewUsuarioVisitante" formControlName="confpassword" type="password" class="form-control" placeholder="Confirmar Senha">
						</div>
					</form>
				</tab>
				<tab heading="Endereço">
					<form role="form" [formGroup]="formNewEnderecoVisitante" (keyup)="teclaPess($event)">
						<div class="form-group p-relative">
							<label> Logradouro: </label>
							<input appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="logradouro" type="text" class="form-control" placeholder="Logradouro">
						</div>
						<div class="form-group p-relative">
							<label> Número: </label>
							<input appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="numero" type="number" class="form-control" placeholder="Número">
						</div>
						<div class="form-group p-relative">
							<label> País: </label>
							<ng-select appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="pais" [items]="paises" bindLabel="nome_pais" bindValue="nome_pais" placeholder="País"></ng-select>
						</div>
						<div class="form-group p-relative" *ngIf="formNewEnderecoVisitante.get('pais').value === 'Brasil'">
							<label> Estado: </label>
							<ng-select appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="uf" [items]="estados" bindLabel="nome" bindValue="sigla" placeholder="Estado" (change)="updateCidades($event)"></ng-select>
						</div>
						<div class="form-group p-relative" *ngIf="formNewEnderecoVisitante.get('pais').value === 'Brasil'">
							<label> Cidade: </label>
							<ng-select appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="cidade" [items]="cidades" placeholder="Cidade" ></ng-select>
						</div>
						<div class="form-group p-relative">
							<label> Bairro: </label>
							<input appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="bairro" type="text" class="form-control" placeholder="Bairro">
						</div>
						<div class="form-group p-relative">
							<label> CEP: </label>
							<input appFormUserFeedback [form]="formNewEnderecoVisitante" [textMask]="{mask: mask.cep}" formControlName="cep" type="text" class="form-control" placeholder="CEP">
						</div>
						<div class="form-group p-relative">
							<label> Complemento: </label>
							<input appFormUserFeedback [form]="formNewEnderecoVisitante" formControlName="complemento" type="text" class="form-control" placeholder="Complemento">
						</div>
					</form>
				</tab>
			</tabset>
			<button role="button" (click)="registerVisitante()" class="btn btn-principal pull-right">Cadastrar</button>
		</div>



		<div *ngIf="etapa === etapasCadastro.ABRIGO">
			<tabset>
				<tab heading="Dados do Usuário">
					<form [formGroup]="formNewFuncionario">
						<div class="form-group p-relative">
							<label> <i class="fas fa-male"></i> Nome: </label>
							<input appFormUserFeedback [form]="formNewFuncionario" formControlName="nome" type="text" class="form-control" placeholder="Nome">
						</div>
						<div class="form-group p-relative">
							<label> <i class="fas fa-male"></i> Telefone: </label>
							<input appFormUserFeedback [form]="formNewFuncionario" formControlName="telefone" [textMask]="{mask: mask.telefone}" type="text" class="form-control" placeholder="Nome">
						</div>
					</form>
					<form role="form" [formGroup]="formNewUsuario" (keyup)="teclaPess($event)">
						<div class="form-group p-relative">
							<label> <i class="fas fa-user"></i> Username: </label>
							<input appFormUserFeedback [form]="formNewUsuario" formControlName="username" type="text" class="form-control" placeholder="Usuário">
						</div>
						<div class="form-group p-relative">
							<label> <i class="fas fa-envelope"></i> E-mail: </label>
							<input appFormUserFeedback [form]="formNewUsuario" [textMask]="{mask: mask.email}" formControlName="email" type="text" class="form-control" placeholder="E-mail">
						</div>
						<div class="form-group p-relative">
							<label> <i class="fas fa-key"></i> Senha: </label>
							<input appFormUserFeedback [form]="formNewUsuario" formControlName="password" type="password" class="form-control" placeholder="Senha">
						</div>
						<div class="form-group p-relative">
							<label> <i class="fas fa-key"></i> Confirmar Senha: </label>
							<input appFormUserFeedback [form]="formNewUsuario" formControlName="confpassword" type="password" class="form-control" placeholder="Confirmar Senha">
						</div>
					</form>
				</tab>
				<tab heading="Dados do Abrigo">
					<form role="form" [formGroup]="formNewAbrigo" (keyup)="teclaPess($event)">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group p-relative">
									<label> Nome: </label>
									<input appFormUserFeedback [form]="formNewAbrigo" formControlName="nome" type="text" class="form-control" placeholder="Nome">
								</div>
								<div class="form-group p-relative">
									<label> CNPJ: </label>
									<input appFormUserFeedback [form]="formNewAbrigo" [textMask]="{mask: mask.cnpj}" formControlName="cnpj" type="text" class="form-control" placeholder="CNPJ">
								</div>
								<div class="form-group p-relative">
									<label> E-mail: </label>
									<input appFormUserFeedback [form]="formNewAbrigo" [textMask]="{mask: mask.email}" formControlName="email" type="text" class="form-control" placeholder="E-mail">
								</div>
								<div class="form-group p-relative">
									<label> Telefone: </label>
									<input appFormUserFeedback [form]="formNewAbrigo" formControlName="telefone" [textMask]="{mask: mask.telefone}" type="text" class="form-control" placeholder="Telefone">
								</div>
							</div>
						</div>
					</form>
				</tab>
				<tab heading="Endereço do Abrigo">
					<form role="form" [formGroup]="formNewEndereco" (keyup)="teclaPess($event)">
						<div class="form-group p-relative">
							<label> Logradouro: </label>
							<input appFormUserFeedback [form]="formNewEndereco" formControlName="logradouro" type="text" class="form-control" placeholder="Logradouro">
						</div>
						<div class="form-group p-relative">
							<label> Número: </label>
							<input appFormUserFeedback [form]="formNewEndereco" formControlName="numero" type="number" class="form-control" placeholder="Número">
						</div>
						<div class="form-group p-relative">
							<label> País: </label>
							<ng-select appFormUserFeedback [form]="formNewEndereco" formControlName="pais" [items]="paises" bindLabel="nome_pais" bindValue="nome_pais" placeholder="País"></ng-select>
						</div>
						<div class="form-group p-relative" *ngIf="formNewEndereco.get('pais').value === 'Brasil'">
							<label> Estado: </label>
							<ng-select appFormUserFeedback [form]="formNewEndereco" formControlName="uf" [items]="estados" bindLabel="nome" bindValue="sigla" placeholder="Estado" (change)="updateCidades($event)"></ng-select>
						</div>
						<div class="form-group p-relative" *ngIf="formNewEndereco.get('pais').value === 'Brasil'">
							<label> Cidade: </label>
							<ng-select appFormUserFeedback [form]="formNewEndereco" formControlName="cidade" [items]="cidades" placeholder="Cidade" ></ng-select>
						</div>
						<div class="form-group p-relative">
							<label> Bairro: </label>
							<input appFormUserFeedback [form]="formNewEndereco" formControlName="bairro" type="text" class="form-control" placeholder="Bairro">
						</div>
						<div class="form-group p-relative">
							<label> CEP: </label>
							<input appFormUserFeedback [form]="formNewEndereco" [textMask]="{mask: mask.cep}" formControlName="cep" type="text" class="form-control" placeholder="CEP">
						</div>
						<div class="form-group p-relative">
							<label> Complemento: </label>
							<input appFormUserFeedback [form]="formNewEndereco" formControlName="complemento" type="text" class="form-control" placeholder="Complemento">
						</div>
					</form>
				</tab>
				<tab heading="Responsável pelo Abrigo">
					<form role="form" [formGroup]="formNewAbrigo" (keyup)="teclaPess($event)">
						<div formGroupName="responsavel">
							<div class="form-group p-relative">
								<label> Nome: </label>
								<input appFormUserFeedback [form]="formNewAbrigo.get('responsavel')" formControlName="nome" type="text" class="form-control" placeholder="Nome">
							</div>
							<div class="form-group p-relative">
								<label> E-mail: </label>
								<input appFormUserFeedback [form]="formNewAbrigo.get('responsavel')" formControlName="email" type="text" class="form-control" placeholder="E-mail">
							</div>
							<div class="form-group p-relative">
								<label> Telefone: </label>
								<input appFormUserFeedback [form]="formNewAbrigo.get('responsavel')" [textMask]="{mask: mask.telefone}" formControlName="telefone" type="text" class="form-control" placeholder="Telefone">
							</div>
						</div>
					</form>
				</tab>
			</tabset>
			<button role="button" (click)="register()" class="btn btn-principal pull-right">Cadastrar</button>
		</div>
	</div>

</ng-template>

<ng-template class="modal-login" #modalLogar>
	<div class="modal-header title-modal">
		<h4 class="modal-title pull-left">Logar-se</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalLogin.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form role="form" [formGroup]="formLogin" (submit)="logIn()">
			<div class="form-group p-relative">
				<label> <i class="fas fa-user"></i> Usuário: </label>
				<input appFormUserFeedback [form]="formLogin" formControlName="usuario" type="text" class="form-control" placeholder="Usuário">
			</div>
			<div class="form-group p-relative">
				<label> <i class="fas fa-key"></i> Senha: </label>
				<input appFormUserFeedback [form]="formLogin" formControlName="senha" type="password" class="form-control" placeholder="Senha">
			</div>
			<button type="submit" role="button" class="btn btn-principal pull-right">Logar</button>
		</form>
	</div>
</ng-template>
