$cor-principal : #00A7D5;
.sidebar-top {
	width: 100%;
	height: 70px;
	background-color: $cor-principal;
	padding: 15px;
	color: white;
	z-index: 9999;
	vertical-align: middle;
	position: fixed;
	top: 0;
}

/deep/ .modal-dialog{
	margin-top: 10%;
}

.background-none {
	background-color: rgba(0,0,0,0.3);
}

.perfil-img {
	display: inline-block;
	height: 45px;
	width: auto;
	border-radius: 50%;
	// margin: 5px;
}

.logomarca {
	font-size: 30px;
	font-family: 'Baloo', cursive;
}

.menu-items {
	font-size: 16px;
	padding-top: 7px;
	text-align: right;
}

a.link-item {
	text-decoration: none;
	margin-right: 20px;
	cursor: pointer;
}

a.link-item:hover {
	color: #d3d3d3;
}

.title-modal {
	background-color: $cor-principal;
	color: white;
}

h1.title {
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 32px;
}

.title-content {
	padding: 20px;
	text-align: center;
}

.back-button {
	margin-bottom: 10px;
	color: #969696;
	font-size: 13px;
	cursor: pointer;
}

.back-button:hover {
	color: #d3d3d3;
}

/deep/ .modal-cadastro {
	margin-top: 10%;
}

/deep/ .modal-login {
	margin-top: 10%;
}
