<div class="background"></div>
<div class="container-fluid">

  <!-- detalhes do abrigo -->
  <div class="row padding15">
    <div class="col-md-2">
        <!-- <button class="float-button-left"> <i class="fas fa-chevron-left"></i> </button> -->
    </div>

    <div class="card-container col-md-8">
      <div class="card-title">
        <h1> Detalhes do Pet: {{ model.nome }} </h1>
        <button class="btn btn-sm btn-function" (click)="voltar()"> VOLTAR </button>
        <button class="btn btn-success btn-sm btn-function" (click)="openModal(modalAdotar)" 
          *ngIf="podeAdotar()"> ADOTAR 
        </button>
        <button class="btn btn-secondary btn-sm btn-function" 
          *ngIf="!podeAdotar()"
         (click)="toast.warning(getError())"> ADOTAR 
        </button>
      </div>
      <div class="card-content">
        <form role="form">
          <div class="row">
            <div class="col-md-12">
              <tabset>
                <tab heading="Dados Gerais">
                  <div class="row">
                    <div class="col-md-3 text-center">
                      <img class="foto-perfil" [src]="getFoto()">
                    </div>
                    <div class="col-md-9">
                      <div class="form-group p-relative">
                        <label> Nome: </label>
                        <label class="form-control"> {{ model.nome }} </label>
                      </div>
                      <div class="form-group p-relative">
                        <label> Data de Nascimento: </label>
                        <label class="form-control"> {{ model.dataNascimento | date: 'dd/MM/yyyy' }} </label>
                      </div>
                      <div class="form-group p-relative">
                        <label> Sexo: </label>
                        <label class="form-control"> {{ model.sexo ? 'Masculino' : 'Feminino' }} </label>
                      </div>
                      <div class="form-group p-relative">
                        <label> Espécie: </label>
                        <label class="form-control"> {{ model.especie }} </label>
                      </div>
                      <div class="form-group p-relative">
                        <label> Raça: </label>
                        <label class="form-control"> {{ model.raca }} </label>
                      </div>
                    </div>
                  </div>
                </tab>
                <tab heading="Dados Adicionais">
                  <div class="form-group p-relative">
                    <label> História: </label>
                    <label class="form-control"> {{ model.historia }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Pelagem: </label>
                    <label class="form-control"> {{ model.pelagem }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Peso (kg): </label>
                    <label class="form-control"> {{ model.peso }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Porte: </label>
                    <label class="form-control"> {{ model.porte }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Castrado: </label>
                    <label class="form-control"> {{ model.castrado ? 'Sim' : 'Não' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Deficiência / Doença: </label>
                    <label class="form-control"> {{ model.deficienciasOuDoencas }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Status: </label>
                    <label class="form-control"> {{ model.estado }} </label>
                  </div>
                </tab>
                <tab heading="Vacinas">
                  <table class="table table-striped table-hover">
                    <thead class="thead-blue">
                      <th> Nome da vacina </th>
                      <th> Descrição </th>
                      <th> Data </th>
                      <th> Aplicada </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of model.vacinacoes; let i = index;">
                        <td>
                          <label class="form-control"> {{ item.nome }} </label>
                        </td>
                        <td>
                          <label class="form-control"> {{ item.descricao }} </label>
                        </td>
                        <td>
                          <label class="form-control"> {{ item.data | date: 'dd/MM/yyyy' }} </label>
                        </td>
                        <td>
                          <label class="form-control"> {{ item.aplicada ? 'Sim' : 'Não' }} </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tab>
                <tab heading="Medicamentos">
                  <table class="table table-striped table-hover">
                    <thead class="thead-blue">
                      <th> Nome do medicamento </th>
                      <th> Apresentação </th>
                      <th> Dosagem </th>
                      <th> Contínuo </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of model.medicamentosEspecificos; let i = index;">
                        <td>
                          <label class="form-control"> {{ item.nome }} </label>
                        </td>
                        <td>
                          <label class="form-control"> {{ item.apresentacao }} </label>
                        </td>
                        <td>
                          <label class="form-control"> {{ item.dosagem }} </label>
                        </td>
                        <td>
                          <label class="form-control"> {{ item.usoContinuo ? 'Sim' : 'Não' }} </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tab>
                <tab heading="Alimentação">
                  <table class="table table-striped table-hover">
                    <thead class="thead-blue">
                      <th> Alimento </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of model.alimentacoesEspecificas; let i = index;">
                        <td>
                          <label class="form-control"> {{ item }} </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tab>
                <tab heading="Características">
                  <div class="row">
                    <div class="col-md-3 padding15 text-center">
                      <h4> Amizade com animais</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.caracteristicas['grauAmizadeComAnimais'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Amizade com crianças</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.caracteristicas['grauAmizadoComCriancas'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Amizade com desconhecidos</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.caracteristicas['grauAmizadeComDesconhecidos'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Brincalhão</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.caracteristicas['grauBrincalhao'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Energia</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.caracteristicas['grauEnergia'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Proteção</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.caracteristicas['grauProtecao'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Agressivo</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.caracteristicas['grauAgressividade'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Medo de ruído</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.caracteristicas['grauFobiaAoRuido'] >= i }"></i>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-2">
        <!-- <button class="float-button-right"> <i class="fas fa-chevron-right"></i> </button> -->
    </div>
  </div>
</div>

<ng-template class="modal-login" #modalAdotar>
	<div class="modal-header title-modal">
		<h4 class="modal-title pull-left">Questionário para adoção</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalAdocao.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form role="form" [formGroup]="form">
      <div formGroupName="questionario">
        <div class="form-group row">
          <label class="col-4"> Renda mensal: </label>
          <div class="col-8">
            <ng-select [items]="opcoesRendaMensal" formControlName="faixaSalarial"></ng-select>
            <!-- <input type="number" min="0" class="form-control" formControlName="faixaSalarial"/> -->
            <!-- <input type="text" [textMask]="{mask: mask.money}" class="form-control" formControlName="rendaMensal"/> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"> Já teve animais? </label>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="teveAnimais" [value]="true"/>
            <label> Sim </label>
          </div>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="teveAnimais" [value]="false"/>
            <label> Não </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"> Possui animais atualmente? </label>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="temAnimais" [value]="true"/>
            <label> Sim </label>
          </div>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="temAnimais" [value]="false"/>
            <label> Não </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"> Possui crianças em casa? </label>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="temCriancas" [value]="true"/>
            <label> Sim </label>
          </div>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="temCriancas" [value]="false"/>
            <label> Não </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"> Viaja Frequentemente? </label>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="viajaFrequentemente" [value]="true"/>
            <label> Sim </label>
          </div>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="viajaFrequentemente" [value]="false"/>
            <label> Não </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"> Reside em Apartamento? </label>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="resideEm" [value]="true"/>
            <label> Sim </label>
          </div>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="resideEm" [value]="false"/>
            <label> Não </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"> Possui rede de proteção? </label>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="redeProtecao" [value]="true"/>
            <label> Sim </label>
          </div>
          <div class="col-3">
            <input type="radio" class="form-check-input" formControlName="redeProtecao" [value]="false"/>
            <label> Não </label>
          </div>
        </div>
        <div class="form-group">
          <label> Motivo da Solicitação: </label>
          <textarea class="form-control" formControlName="razao"></textarea>
        </div>
        <div class="form-group">
          <label> Em poucas palavras, como é sua rotina? </label>
          <textarea class="form-control" formControlName="rotina"></textarea>
        </div>
        <button (click)="adotar()" role="button" class="btn btn-principal pull-right">Enviar solicitação</button>
      </div>
		</form>
	</div>
</ng-template>
