.foto-perfil {
	width: 100%;
}

.container-fluid {
	margin-top: 70px;
	height: 100%;
	padding-top: 5%;
}

.background {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://wallpaper-house.com/data/out/8/wallpaper2you_256268.jpg');
	height: 100%;
	width: 100%;
	z-index: 0;
	position: fixed;
}

.stars-classificacao {
	font-size: 18px;
	margin: 4px;
	cursor: pointer;
}

.selected {
	color: gold;
}