.content{
  width: 100%;
  text-align: center;
  padding: auto;
  // background-image: url('https://images.alphacoders.com/102/thumb-1920-102211.jpg');
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://wallpaper-house.com/data/out/8/wallpaper2you_256268.jpg');
  height: 100%;
  padding-top: 10%;
}

.col-md-3 {
  padding: 5px;
  // margin: 5px;
}


.box{
  display: block;
  padding: 2%;
  text-align: left;
  height: 50%;
  // border: solid 2px red;
  width: 80%;
  min-width: 500px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: auto;
}

.title {
  width: 90%;
}

.text-content {
  width: 90%;
  text-align: center;
  margin: auto;
}

.text {
  font-size: 30px;
  text-align: center;
  margin: auto;
}
