<div class="background"></div>
<div class="container-fluid">

  <!-- filtros -->
  <div class="row padding15">
    <div class="col-md-2"></div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Filtros </h1>
        <button class="btn btn-principal btn-sm btn-function" (click)="applyFilter()"> <i class="fas fa-search"></i></button>
        <button title="Limpar Busca" class="btn btn-sm btn-function" (click)="limparFiltros()"> <i class="f-gray fas fa-times-circle"></i></button>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-3">
            <input class="form-control" placeholder="Nome do pet" [(ngModel)]="nomeInput">
          </div>
          <div class="col-md-3">
            <input class="form-control" placeholder="Raça do pet" [(ngModel)]="racaInput">
          </div>
          <div class="col-md-3">
            <input class="form-control" placeholder="Especie do pet" [(ngModel)]="especieInput">
          </div>
          <div class="col-md-3">
            <ng-select [(ngModel)]="porteInput" [items]="['Todos','Pequeno', 'Médio', 'Grande']" placeholder="Tamanho (Todos)" [clearable]="false"></ng-select>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

  </div>

  <!-- resultado -->
  <div class="row padding15">
    <div class="col-md-2"></div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Pets encontratos </h1>
      </div>
      <div class="card-content">
        <ul class="list">
          <li class="item-list" *ngFor="let pet of pets">
            <div class="row">
              <div class="col-md-2">
                <img class="img-abrigo img-fluid" [src]="pet.fotoPerfil"/>
              </div>
              <div class="col-md-10 abrigo-info">
                <button class="btn btn-principal btn-function" (click)="verDetalhesPet(pet)"> <i class="fas fa-info-circle"></i> </button>
                <h5 class="abrigo-title"> {{ pet.nome }}  </h5> <br/>
                <sub class="endereco"> {{ pet.raca }}</sub> <br/>
                <sub class="endereco"> {{ pet.dataNascimento | date: 'dd/MM/yyyy' }} </sub> <br/>
                <sub class="endereco"> {{ pet.historia }}</sub> <br/>

              </div>
            </div>
          </li>
        </ul>
        <div *ngIf="abrigosFound === []">
          <span class="f-22">Nenhum Pet encontrado</span>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

  </div>
</div>
