 <div class="card-container row">
  <div class="card-title">
    <h1> Filtros </h1>
    <button class="btn btn-principal btn-sm btn-function" (click)="search()"> <i class="fas fa-search"></i></button>
    <button title="Limpar Busca" class="btn btn-sm btn-function" (click)="limparFiltros()"> <i class="f-gray fas fa-times-circle"></i></button>
  </div>
  <div class="card-content">
     <div class="row">
      <div class="col-md-4">
        <input class="form-control filter-input" placeholder="Nome do PET" [(ngModel)]="nomePetInput">
      </div>
      <div class="col-md-4">
        <input class="form-control filter-input" placeholder="Nome do Solicitante" [(ngModel)]="nomeSolicitanteInput">
      </div>
      <div class="col-md-4">
        <ng-select [(ngModel)]="statusInput" [items]="['Todos','Pendente','Aceita','Recusada']" placeholder="Status" [clearable]="false"></ng-select>
      </div>
    </div>
  </div>
</div>
 <div class="card-container row">
    <div class="card-title">
      <h1> Solicitações de Adoção ({{ models.length }}): </h1>
      <!-- <button class="btn btn-sm btn-function btn-principal" (click)="add()"> <i class="fas fa-plus"></i></button> -->
    </div>
    <div class="card-content">
      <table class="table table-striped table-hover">
        <thead class="thead-blue">
          <!-- <th> Código </th> -->
          <th> Pet </th>
          <th> Solicitante </th>
          <th> Data </th>
          <th> Situação </th>
          <th class="text-right"> Ações </th>
        </thead>
        <tbody>
          <tr *ngFor="let model of models">
            <!-- <td> {{ model }} </td> -->
            <td> {{ model.pet?.nome }} </td>
            <td> {{ model.adotante?.nome }} </td>
            <td> {{ model.data | date : 'dd/MM/yyyy'}} </td>
            <td>
              <span class="dot"
              [ngClass]="{'yellow': model.status === 'Em Espera' || model.status === 'Pendente', 'green': model.status === 'Aprovada' || model.status === 'Aceita',
              'red' : model.status === 'Recusada'}"></span>
              {{ model.status }}
            </td>
            <td>
              <button title="Recusar" class="btn btn-danger btn-sm" *ngIf="model.status === 'Em Espera' || model.status === 'Pendente'" (click)="modal.open()"> <i class="fas fa-times-circle"></i> </button>
              <button title="Aprovar" class="btn btn-success btn-sm" *ngIf="model.status === 'Em Espera' || model.status === 'Pendente'" (click)="aprovar(model)"> <i class="fas fa-check"></i> </button>
              <button class="btn btn-default btn-sm" (click)="read(model)"> <i class="fas fa-info-circle"></i> </button>
              <app-recusar-modal #modal (recusado)="recusar(model, $event)"></app-recusar-modal>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
