<div class="card-container row">
  <div class="card-title">
    <h1> Adicionar Funcionário: </h1>
    <button class="btn btn-success btn-sm btn-function" (click)="save()"> <i class="fas fa-save"></i></button>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-12">
        <tabset>
          <tab heading="Dados Gerais">
            <form role="form" [formGroup]="form">
              <div class="form-group p-relative">
                <label> Nome*: </label>
                <input appFormUserFeedback [form]="form" type="text" class="form-control" formControlName="nome" placeholder="Nome">
              </div>
              <div class="form-group p-relative">
                <label> Telefone*: </label>
                <input appFormUserFeedback [form]="form" type="text" [textMask]="{mask: mask.telefone}" class="form-control" formControlName="telefone" placeholder="(00) 00000-0000">
              </div>
            </form>
          </tab>
          <tab heading="Dados de acesso">
            <form role="form" [formGroup]="formUsuario">
              <!-- <div class="form-group p-relative">
                <label> <i class="fas fa-male"></i> Nome: </label>
                <input appFormUserFeedback [form]="formUsuario" formControlName="nome" type="text" class="form-control" placeholder="Nome">
              </div> -->
              <div class="form-group p-relative">
                <label> <i class="fas fa-user"></i> Username*: </label>
                <input appFormUserFeedback [form]="formUsuario" formControlName="username" type="text" class="form-control" placeholder="Usuário">
              </div>
              <div class="form-group p-relative">
                <label> <i class="fas fa-envelope"></i> E-mail*: </label>
                <input appFormUserFeedback [form]="formUsuario" [textMask]="{mask: mask.email}" formControlName="email" type="text" class="form-control" placeholder="E-mail">
              </div>
              <div class="form-group p-relative">
                <label> <i class="fas fa-key"></i> Senha*: </label>
                <input appFormUserFeedback [form]="formUsuario" formControlName="password" type="password" class="form-control" placeholder="Senha">
              </div>
              <div class="form-group p-relative">
                <label> <i class="fas fa-key"></i> Confirmar Senha*: </label>
                <input appFormUserFeedback [form]="formUsuario" formControlName="confpassword" type="password" class="form-control" placeholder="Confirmar Senha">
              </div>
            </form>
          </tab>
          <tab heading="Endereço">
            <form role="form" [formGroup]="formEndereco">
              <div class="form-group p-relative">
                <label> Logradouro*: </label>
                <input appFormUserFeedback [form]="formEndereco" formControlName="logradouro" type="text" class="form-control" placeholder="Logradouro">
              </div>
              <div class="form-group p-relative">
                <label> Número*: </label>
                <input appFormUserFeedback [form]="formEndereco" formControlName="numero" type="text" class="form-control" placeholder="Número">
              </div>
              <div class="form-group p-relative">
                <label> País*: </label>
                <ng-select appFormUserFeedback [form]="formEndereco" formControlName="pais" [items]="paises" bindLabel="nome_pais" bindValue="nome_pais" placeholder="País"></ng-select>
              </div>
              <div class="form-group p-relative" *ngIf="formEndereco.get('pais').value === 'Brasil'">
                <label> Estado*: </label>
                <ng-select appFormUserFeedback [form]="formEndereco" formControlName="uf" [items]="estados" bindLabel="nome" bindValue="sigla" placeholder="Estado" (change)="updateCidades($event)"></ng-select>
              </div>
              <div class="form-group p-relative" *ngIf="formEndereco.get('pais').value === 'Brasil'">
                <label> Cidade*: </label>
                <ng-select appFormUserFeedback [form]="formEndereco" formControlName="cidade" [items]="cidades" placeholder="Cidade" ></ng-select>
              </div>
              <div class="form-group p-relative">
                <label> Bairro*: </label>
                <input appFormUserFeedback [form]="formEndereco" formControlName="bairro" type="text" class="form-control" placeholder="Bairro">
              </div>
              <div class="form-group p-relative">
                <label> CEP*: </label>
                <input appFormUserFeedback [form]="formEndereco" [textMask]="{mask: mask.cep}" formControlName="cep" type="text" class="form-control" placeholder="CEP">
              </div>
              <div class="form-group p-relative">
                <label> Complemento*: </label>
                <input appFormUserFeedback [form]="formEndereco" formControlName="complemento" type="text" class="form-control" placeholder="Complemento">
              </div>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
