<div class="card-container row">
  <div class="card-title">
    <h1> Detalhes do Doacao: </h1>
    <button class="btn btn-danger btn-sm btn-function" (click)="list()"> Voltar</button>
    <button class="btn btn-success btn-sm btn-function" (click)="confirmApproveDonation()"
            *ngIf="model.status === 'Aguardando'"><i class="fas fa-check"></i> Aprovar doação
    </button>
  </div>
  <div class="card-content">
    <form role="form">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group p-relative">
            <label> Doador: </label>
            <span class="form-control"> {{model.doador.nome}} </span>
          </div>
          <div class="form-group p-relative">
            <label> E-mail de contato: </label>
            <span class="form-control"> {{usuario.email}} </span>
          </div>
          <div class="row">
            <div class="col-md-6 form-group p-relative">
              <label> Produto: </label>
              <span class="form-control"> {{model.item.nome}} </span>
            </div>
            <div class="col-md-6 form-group p-relative">
              <label> Status: </label>
              <span class="form-control"> {{model.status}} </span>
            </div>
          </div>
          <div class="form-group p-relative">
            <label> Descrição: </label>
            <span class="form-control"> {{model.descricao}} </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
