<div class="card-container row">
  <div class="card-title">
    <h1> Filtros </h1>
    <button class="btn btn-principal btn-sm btn-function" > <i class="fas fa-search"></i></button>
    <button title="Limpar Busca" class="btn btn-sm btn-function" > <i class="f-gray fas fa-times-circle"></i></button>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-4">
        <input class="form-control filter-input" placeholder="Código do Adoção" >
      </div>
      <div class="col-md-4">
        <input class="form-control filter-input" placeholder="Nome do PET" >
      </div>
      <div class="col-md-4">
        <input class="form-control filter-input" placeholder="Data da Adoção" >
      </div>
    </div>
  </div>
</div>

<div class="card-container row">
    <div class="card-title">
      <h1> Adoções(7): </h1>
      <button class="btn btn-sm btn-function btn-principal" (click)="add()"> <i class="fas fa-plus"></i></button>
    </div>
    <div class="card-content">
      <table class="table table-striped table-hover">
        <thead class="thead-blue">
          <th> Código </th>
          <th> Nome do Pet </th>
          <th> Data do Pedido </th>
          <th> Data da Adoção </th>
          <th> Situação </th>
          <th> Adotante </th>
          <th class="text-right"> Ações </th>
        </thead>
        <tbody>
          <tr *ngFor="let i of [1,2,3,4,5,6,7]">
            <td> {{ i }} </td>
            <td> Rex </td>
            <td> 13/09/2018 </td>
            <td> 20/09/2018 </td>
            <td> {{ returnSituacao(i) }} </td>
            <td> João da Silva </td>
            <td>
              <button class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i> </button>
              <button class="btn btn-principal btn-sm" *ngIf="i === 1"> <i class="fas fa-check"></i> </button>
              <button class="btn btn-default btn-sm"> <i class="fas fa-info-circle"></i> </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
