<div class="card-container row">
  <div class="card-title">
    <h1> Editar Adoção: </h1>
    <button class="btn btn-success btn-sm btn-function" (click)="save()"> <i class="fas fa-save"></i></button>
  </div>
  <div class="card-content">
    <form role="form" [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <tabset>
            <tab heading="Dados Gerais">
              <div class="form-group p-relative">
                <label> Nome: </label>
                <input type="text" class="form-control" placeholder="Nome">
              </div>

              <div class="form-group p-relative">
                <label> Status: </label>
                <ng-select [items]="statusOpcoes" bindLabel="label" bindValue="id">

                </ng-select>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
