<div class="card-container row">
    <div class="card-title">
      <h1> Editar abrigo: </h1>
      <button class="btn btn-success btn-sm btn-function" (click)="save()"> <i class="fas fa-save"></i></button>
    </div>
    <div class="card-content">
      <form role="form" [formGroup]="form">
        <tabset>
          <tab heading="Dados do Abrigo">
            <div class="row">
              <div class="col-md-9">
                <div class="form-group p-relative">
									<label> Nome: </label>
									<input appFormUserFeedback [form]="form" formControlName="nome" type="text" class="form-control" placeholder="Nome">
								</div>
								<div class="form-group p-relative">
									<label> CNPJ: </label>
									<input appFormUserFeedback [form]="form" [textMask]="{mask: mask.cnpj}" formControlName="cnpj" type="text" class="form-control" placeholder="CNPJ">
								</div>
								<div class="form-group p-relative">
									<label> E-mail: </label>
									<input appFormUserFeedback [form]="form" [textMask]="{mask: mask.email}" formControlName="email" type="text" class="form-control" placeholder="E-mail">
								</div>
								<div class="form-group p-relative">
									<label> Telefone: </label>
									<input appFormUserFeedback [form]="form" formControlName="telefone" [textMask]="{mask: mask.telefone}" type="text" class="form-control" placeholder="Telefone">
								</div>
              </div>

              <div class="col-md-3">
								<img class="foto-perfil" #petfoto id="petfoto" [src]="getFoto()">
								<label for="alterarFoto" class="btn btn-principal btn-alterar-foto"> Alterar foto</label> <br/>
								<button *ngIf="blobPerfil" (click)="blobPerfil=null" class="btn btn-danger btn-alterar-foto"> <i class="fas fa-trash"></i></button>
								<input type="file" style="display: none" name="alterarFoto" id="alterarFoto" (change)="uploadFile($event)">
              </div>
            </div>
          </tab>
          <tab heading="Endereço">
            <form [formGroup]="formNewEndereco">
							<div class="form-group p-relative">
								<label> Logradouro: </label>
								<input appFormUserFeedback [form]="formNewEndereco" formControlName="logradouro" type="text" class="form-control" placeholder="Logradouro">
							</div>
							<div class="form-group p-relative">
								<label> Número: </label>
								<input appFormUserFeedback [form]="formNewEndereco" formControlName="numero" type="text" class="form-control" placeholder="Número">
							</div>
							<div class="form-group p-relative">
								<label> País: </label>
								<ng-select appFormUserFeedback [form]="formNewEndereco" formControlName="pais" [items]="paises" bindLabel="nome_pais" bindValue="nome_pais" placeholder="País"></ng-select>
							</div>
							<div class="form-group p-relative" *ngIf="formNewEndereco.get('pais').value === 'Brasil'">
								<label> Estado: </label>
								<ng-select appFormUserFeedback [form]="formNewEndereco" formControlName="uf" [items]="estados" bindLabel="nome" bindValue="sigla" placeholder="Estado" (change)="updateCidades($event)"></ng-select>
							</div>
							<div class="form-group p-relative" *ngIf="formNewEndereco.get('pais').value === 'Brasil'">
								<label> Cidade: </label>
								<ng-select appFormUserFeedback [form]="formNewEndereco" formControlName="cidade" [items]="cidades" placeholder="Cidade" ></ng-select>
							</div>
							<div class="form-group p-relative">
								<label> Bairro: </label>
								<input appFormUserFeedback [form]="formNewEndereco" formControlName="bairro" type="text" class="form-control" placeholder="Bairro">
							</div>
							<div class="form-group p-relative">
								<label> CEP: </label>
								<input appFormUserFeedback [form]="formNewEndereco" [textMask]="{mask: mask.cep}" formControlName="cep" type="text" class="form-control" placeholder="CEP">
							</div>
							<div class="form-group p-relative">
								<label> Complemento: </label>
								<input appFormUserFeedback [form]="formNewEndereco" formControlName="complemento" type="text" class="form-control" placeholder="Complemento">
							</div>
						</form>
          </tab>
          <tab heading="Responsável">
            <div formGroupName="responsavel">
							<div class="form-group p-relative">
								<label> Nome: </label>
								<input appFormUserFeedback [form]="form.get('responsavel')" formControlName="nome" type="text" class="form-control" placeholder="Nome">
							</div>
							<div class="form-group p-relative">
								<label> E-mail: </label>
								<input appFormUserFeedback [form]="form.get('responsavel')" [textMask]="{mask: mask.email}" formControlName="email" type="text" class="form-control" placeholder="E-mail">
							</div>
							<div class="form-group p-relative">
								<label> Telefone: </label>
								<input appFormUserFeedback [form]="form.get('responsavel')" [textMask]="{mask: mask.telefone}" formControlName="telefone" type="text" class="form-control" placeholder="Telefone">
							</div>
						</div>
          </tab>
        </tabset>
      </form>
    </div>
  </div>
