<div class="card-container row">
  <div class="card-title">
    <h1> Solicitação de Adoção #179 </h1>
    <button class="btn btn-success btn-sm btn-function" *ngIf="model.status === 'Em Espera' || model.status === 'Pendente'" (click)="aprovar(model)"> APROVAR </button>
    <button class="btn btn-danger btn-sm btn-function" *ngIf="model.status === 'Em Espera' || model.status === 'Pendente'" (click)="modal.open()"> RECUSAR </button>
    <button class="btn btn btn-sm btn-function" (click)="list()"> LISTA</button>
  </div>
  <div class="card-content">
    <form role="form">
      <div class="row">
        <div class="col-md-12">
          <tabset>
            <tab heading="Dados do PET">
              <!-- <div class="row">
                <div class="col-md-3 text-center">
                  <img class="foto-perfil" [src]="getFoto()">
                </div>
                <div class="col-md-9">
                  <div class="form-group p-relative">
                    <label> Pet: </label>
                    <label class="form-control"> {{ model.pet?.nome }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Data de Nascimento: </label>
                    <label class="form-control"> {{ model.pet?.dataNascimento | date: 'dd/MM/yyyy' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Sexo: </label>
                    <label class="form-control"> {{ model.pet?.sexo ? 'Macho' : 'Fêmea' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Espécie: </label>
                    <label class="form-control"> {{ model.pet?.especie }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Raça: </label>
                    <label class="form-control"> {{ model.pet?.raca }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Peso: </label>
                    <label class="form-control"> {{ model.pet?.peso }} </label>
                  </div>
                </div>
              </div> -->
              <br />
              <tabset>
                <tab heading="Dados Gerais">
                  <div class="row">
                    <div class="col-md-3 text-center">
                      <img class="foto-perfil" [src]="getFoto()">
                    </div>
                    <div class="col-md-9">
                      <div class="form-group p-relative">
                        <label> Nome: </label>
                        <label class="form-control"> {{ model.pet?.nome }} </label>
                      </div>
                      <div class="form-group p-relative">
                        <label> Data de Nascimento: </label>
                        <label class="form-control"> {{ model.pet?.dataNascimento | date: 'dd/MM/yyyy' }} </label>
                      </div>
                      <div class="form-group p-relative">
                        <label> Sexo: </label>
                        <label class="form-control"> {{ model.pet?.sexo ? 'Masculino' : 'Feminino' }} </label>
                      </div>
                      <div class="form-group p-relative">
                        <label> Espécie: </label>
                        <label class="form-control"> {{ model.pet?.especie }} </label>
                      </div>
                      <div class="form-group p-relative">
                        <label> Raça: </label>
                        <label class="form-control"> {{ model.pet?.raca }} </label>
                      </div>
                    </div>
                  </div>
                </tab>
                <tab heading="Dados Adicionais">
                  <div class="form-group p-relative">
                    <label> História: </label>
                    <label class="form-control"> {{ model.pet?.historia }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Pelagem: </label>
                    <label class="form-control"> {{ model.pet?.pelagem }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Peso (kg): </label>
                    <label class="form-control"> {{ model.pet?.peso }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Porte: </label>
                    <label class="form-control"> {{ model.pet?.porte }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Castrado: </label>
                    <label class="form-control"> {{ model.pet?.castrado ? 'Sim' : 'Não' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Deficiência / Doença: </label>
                    <label class="form-control"> {{ model.pet?.deficienciasOuDoencas }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Status: </label>
                    <label class="form-control"> {{ model.pet?.estado }} </label>
                  </div>
                </tab>
                <tab heading="Alimentação">
                  <table class="table table-striped table-hover">
                    <thead class="thead-blue">
                      <th> Alimento </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of model.pet?.alimentacoesEspecificas; let i = index;">
                        <td>
                          <label class="form-control"> {{ item }} </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tab>
                <tab heading="Características">
                  <div class="row">
                    <div class="col-md-3 padding15 text-center">
                      <h4> Amizade com animais</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.pet?.caracteristicas['grauAmizadeComAnimais'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Amizade com crianças</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.pet?.caracteristicas['grauAmizadoComCriancas'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Amizade com desconhecidos</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.pet?.caracteristicas['grauAmizadeComDesconhecidos'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Brincalhão</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.pet?.caracteristicas['grauBrincalhao'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Energia</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.pet?.caracteristicas['grauEnergia'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Proteção</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.pet?.caracteristicas['grauProtecao'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Agressivo</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.pet?.caracteristicas['grauAgressividade'] >= i }"></i>
                    </div>
                    <div class="col-md-3 padding15 text-center">
                      <h4> Medo de ruído</h4>
                      <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': model.pet?.caracteristicas['grauFobiaAoRuido'] >= i }"></i>
                    </div>
                  </div>
                </tab>
              </tabset>
            </tab>
            <tab heading="Dados do Solicitante">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group p-relative">
                    <label> Nome: </label>
                    <label class="form-control"> {{ model.adotante?.nome }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Data de nascimento: </label>
                    <label class="form-control"> {{ model.adotante?.dataNascimento | date: 'dd/MM/yyyy' }} </label>
                  </div>
                  <div class="form-group">
                    <label> Logradouro: </label>
                    <span class="form-control"> {{ model.adotante?.endereco?.logradouro }} </span>
                  </div>
                  <div class="form-group">
                    <label> Número: </label>
                    <span class="form-control"> {{ model.adotante?.endereco?.numero }} </span>
                  </div>
                  <div class="form-group">
                    <label> País: </label>
                    <span class="form-control"> {{ model.adotante?.endereco?.pais }} </span>
                  </div>
                  <div class="form-group">
                    <label> Estado: </label>
                    <span class="form-control"> {{ model.adotante?.endereco?.uf }} </span>
                  </div>
                  <div class="form-group">
                    <label> Cidade: </label>
                    <span class="form-control"> {{ model.adotante?.endereco?.cidade }} </span>
                  </div>
                  <div class="form-group">
                    <label> Bairro: </label>
                    <span class="form-control"> {{ model.adotante?.endereco?.bairro }} </span>
                  </div>
                  <div class="form-group">
                    <label> Complemento: </label>
                    <span class="form-control"> {{ model.adotante?.endereco?.complemento }} </span>
                  </div>
                  <!-- <div class="form-group p-relative">
                    <label> Data de Nascimento: </label>
                    <label class="form-control"> 29/06/1990 </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Sexo: </label>
                    <label class="form-control"> Masculino </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Endereço: </label>
                    <label class="form-control"> Rua. Hugo Musso 111, Vila Velha - Espirito Santo </label>
                  </div> -->
                </div>
              </div>
            </tab>
            <tab heading="Questionário">
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group p-relative">
                    <label> Renda Mensal: </label>
                    <label class="form-control"> {{ model.questionario?.faixaSalarial }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Já teve animais? </label>
                    <label class="form-control"> {{ model.questionario?.teveAnimais ? 'Sim' : 'Não' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Possui animais atualmente? </label>
                    <label class="form-control"> {{ model.questionario?.temAnimais ? 'Sim' : 'Não' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Possui crianças em casa? </label>
                    <label class="form-control"> {{ model.questionario?.temCriancas ? 'Sim' : 'Não' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Viaja Frequentemente? </label>
                    <label class="form-control"> {{ model.questionario?.viajaFrequentemente ? 'Sim' : 'Não' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Reside em Apartamento? </label>
                    <label class="form-control"> {{ model.questionario?.resideEm ? 'Sim' : 'Não' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Possui rede de proteção? </label>
                    <label class="form-control"> {{ model.questionario?.redeProtecao ? 'Sim' : 'Não' }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Motivo da Solicitação: </label>
                    <label class="form-control"> {{ model.questionario?.razao }} </label>
                  </div>
                  <div class="form-group p-relative">
                    <label> Rotina: </label>
                    <label class="form-control"> {{ model.questionario?.rotina }} </label>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
<app-recusar-modal #modal (recusado)="recusar(model, $event)"></app-recusar-modal>

