.img-abrigo {
	border-radius: 10px;
}

.container-fluid {
	margin-top: 70px;
	height: 100%;
	padding-top: 5%;
}

.background {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://wallpaper-house.com/data/out/8/wallpaper2you_256268.jpg');
	height: 100%;
	width: 100%;
	z-index: 0;
	position: fixed;
}


/* pet lista */
.padding15 {
	padding: 15px;
}

.endereco {
	color: #969696;
}

.container-fluid {
	margin-top: 70px;
	height: 100%;
	padding-top: 5%;
}

.background {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://wallpaper-house.com/data/out/8/wallpaper2you_256268.jpg');
	height: 100%;
	width: 100%;
	z-index: 0;
	position: fixed;
}

ul.list {
	padding: 0;

	.item-list {
		list-style: none;
    padding: 20px;
    border: 1px solid #d3d3d3;
    margin-bottom: 15px;
	}

	img.img-abrigo {
		border-radius: 10%;
	}

	.abrigo-info {
		line-height: 1.4;
		text-align: left;
	}

	.abrigo-title {
		margin-right: 5px;
		margin-bottom: 0px;
		display: inline-block
	}

	i.fa-star.checked {
		color: gold;
	}

	/*Doacao*/
	.green {
		background-color: white;
		color: #4CAF50;
		width: 115px;
		border: 2px solid #4CAF50; /* Green */
	}
	.blue {
		background-color: white;
		color: #00a6d7;
		width: 115px;
		border: 2px solid #00a6d7; /* blue */
	}
	.red {
		background-color: white;
		color: red;
		width: 115px;
		border: 2px solid red; /* red */
	}

}

button.btn-status-green {
	background-color: white;
	color: #4CAF50;
	width: 115px;
	border: 2px solid #4CAF50; /* Green */
}
button.btn-status-blue {
	background-color: white;
	color: #00a6d7;
	width: 115px;
	border: 2px solid #00a6d7; /* blue */
}
button.btn-status-red {
	background-color: white;
	color: red;
	width: 115px;
	border: 2px solid red; /* red */
}
