<div class="background"></div>
<div class="container-fluid">

  <!-- detalhes do abrigo -->
  <div class="row padding15">
    <div class="col-md-2">
        <!-- <button class="float-button-left"> <i class="fas fa-chevron-left"></i> </button> -->
    </div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Minhas informações: </h1>
      <button class="btn btn-principal btn-sm btn-function" (click)="edit()"> <i class="fas fa-edit"></i></button>
    </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12">
            <div>
              <tabset>
                <tab heading="Dados gerais">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="form-group">
                        <label> Nome: </label>
                        <span class="form-control"> {{ model.nome }} </span>
                      </div>
                      <div class="form-group">
                        <label> Data de Nascimento: </label>
                        <span class="form-control"> {{ model.dataNascimento | date: 'dd/MM/yyyy'}} </span>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <img class="img-abrigo img-fluid" #petfoto id="petfoto" [src]="getFoto()">
                    </div>
                  </div>
                </tab>
                <tab heading="Dados do Usuário">
                  <div class="form-group">
                    <label> <i class="fas fa-user"></i> Username: </label>
                    <span class="form-control"> {{ model.usuario?.username }} </span>
                  </div>
                  <div class="form-group">
                    <label> <i class="fas fa-envelope"></i> E-mail: </label>
                    <span class="form-control"> {{ model.usuario?.email }} </span>
                  </div>
                </tab>
                <tab heading="Endereço">
                  <div class="form-group">
                    <label> Logradouro: </label>
                    <span class="form-control"> {{ model.endereco?.logradouro }} </span>
                  </div>
                  <div class="form-group">
                    <label> Número: </label>
                    <span class="form-control"> {{ model.endereco?.numero }} </span>
                  </div>
                  <div class="form-group">
                    <label> País: </label>
                    <span class="form-control"> {{ model.endereco?.pais }} </span>
                  </div>
                  <div class="form-group">
                    <label> Estado: </label>
                    <span class="form-control"> {{ model.endereco?.uf }} </span>
                  </div>
                  <div class="form-group">
                    <label> Cidade: </label>
                    <span class="form-control"> {{ model.endereco?.cidade }} </span>
                  </div>
                  <div class="form-group">
                    <label> Bairro: </label>
                    <span class="form-control"> {{ model.endereco?.bairro }} </span>
                  </div>
                  <div class="form-group">
                    <label> Complemento: </label>
                    <span class="form-control"> {{ model.endereco?.complemento }} </span>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
        <!-- <button class="float-button-right"> <i class="fas fa-chevron-right"></i> </button> -->
    </div>
  </div>

  <!-- animais para doação-->
  <div class="row padding15">
    <div class="col-md-2"></div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Solicitações de adoção </h1>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12" style="text-align: center">
            <ul class="list">
              <li class="item-list" *ngFor="let item of solicitacoes">
                <div class="row">
                  <div class="col-md-2">
                    <img class="img-abrigo img-fluid" [src]="getSolicitacaoFoto(item?.pet?.fotoPerfil)"/>
                  </div>
                  <div class="col-md-10 abrigo-info">
                    <button class="btn btn-function"
                    [ngClass]="
                    {'blue': item.status === 'Em Espera' || item.status === 'Pendente',
                    'green': item.status === 'Aprovada' || item.status === 'Aceita',
                    'red' : item.status === 'Recusada'}"> {{ item.status ? item.status : 'Indefinido' }} </button>
                    <h5 class="abrigo-title"> {{ item.pet.nome }}  </h5> <br/>
                    <sub class="endereco"> {{ item.pet.raca }}</sub> <br/>
                    <sub class="endereco"> {{ item.pet.dataNascimento | date: 'dd/MM/yyyy' }} </sub> <br/>
                    <sub class="endereco"> {{ item.pet.historia }}</sub> <br/>

                  </div>
                </div>
              </li>
            </ul>
            <div *ngIf="solicitacoes.length === 0">
              <span class="f-22">Nenhuma solicitação encontrada!</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>

  <!-- doacoes-->
  <div class="row padding15">
    <div class="col-md-2"></div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1>Minhas Doações</h1>
        <button class="btn btn-principal btn-sm btn-function" title="Realizar doação" (click)="createDonation()"><i
          class="fas fa-plus"></i></button>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12" style="text-align: center">
            <ul class="list">
              <li class="item-list" *ngFor="let doacao of doacoes">
                <div class="row">
                  <!--<div class="col-md-2">
                    <img class="img-abrigo img-fluid" [src]="doacao.foto"/>
                  </div>-->
                  <div class="col-md-12 abrigo-info">

                    <h5 class="abrigo-title"> {{ doacao.item.nome }} </h5> <br/>
                    <button class="btn btn-danger btn-function" *ngIf='doacao.status == "Aguardando"'
                            (click)="confirmCancelDonation(doacao)" title="Cancelar Doação"><i class="fas fa-trash"></i>
                    </button>
                    <button *ngIf='doacao.status == "Aguardando"' style="width: 200px"
                            class="btn btn-principal btn-function btn-status-blue"> Aguardando Aprovação
                    </button>
                    <button *ngIf='doacao.status == "Finalizada"'
                            class="btn btn-principal btn-function btn-status-green"> Finalizada
                    </button>
                    <button *ngIf='doacao.status == "Cancelada"' class="btn btn-principal btn-function btn-status-red">
                      Cancelada
                    </button>
                    <sub class="endereco">Quantidade: {{ doacao.quantidade  }} </sub> <br/>
                    <sub class="endereco">Abrigo: {{ doacao.abrigo.nome }} </sub> <br/>
                    <sub class="endereco">Descrição: {{doacao.descricao}} </sub><br/>
                  </div>
                </div>
              </li>
            </ul>
            <div *ngIf="doacoes.length === 0">
              <span class="f-22">Nenhuma doação encontrada!</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>

</div>
