<div class="content">
  <div class="box">
    <div class="title">
      <h1>
        Sobre Nós
      </h1>
    </div>
    <div class="text-content">
      <span class="text">
        O AdotaPet é um sistema autossuficiente, por não possuir nenhum vínculo com outros
        sistemas majoritários. Sua finalidade é a de agilizar o processo de adoção de animais que se
        encontram alocados em abrigos e realizar o gerenciamento dos Abrigos/ONG’s que recebem
        estes animais, tratam suas necessidades e disponibilizam os mesmos para adoção
        responsável.
      </span>
    </div>
  </div>
</div>
