<div class="background"></div>
<div class="container-fluid">

  <!-- detalhes do abrigo -->
  <div class="row padding15">
    <div class="col-md-2">
        <!-- <button class="float-button-left"> <i class="fas fa-chevron-left"></i> </button> -->
    </div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Detalhes do abrigo: </h1>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12">
            <div>
              <tabset>
                <tab heading="Dados gerais">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="form-group">
                        <label> Nome: </label>
                        <span class="form-control"> {{ abrigo.nome }} </span>
                      </div>
                      <div class="form-group">
                        <label> E-mail: </label>
                        <span class="form-control"> {{ abrigo.email }} </span>
                      </div>
                      <div class="form-group">
                        <label> Telefone: </label>
                        <span class="form-control"> {{ abrigo.telefone }} </span>
                      </div>
                      <!-- <div class="form-group">
                        <label> Descrição: </label>
                        <p class="form-control"> {{ abrigo.descricao }} </p>
                      </div> -->
                    </div>

                    <div class="col-md-3">
                      <img class="img-abrigo img-fluid" src="https://i.ytimg.com/vi/UgsRYV7Xjv8/maxresdefault.jpg">
                    </div>
                  </div>
                </tab>
                <tab heading="Endereço">
                  <div class="form-group">
                    <label> Logradouro: </label>
                    <span class="form-control"> {{ abrigo.endereco.logradouro }} </span>
                  </div>
                  <div class="form-group">
                    <label> Número: </label>
                    <span class="form-control"> {{ abrigo.endereco.numero }} </span>
                  </div>
                  <div class="form-group">
                    <label> País: </label>
                    <span class="form-control"> {{ abrigo.endereco.pais }} </span>
                  </div>
                  <div class="form-group">
                    <label> Estado: </label>
                    <span class="form-control"> {{ abrigo.endereco.uf }} </span>
                  </div>
                  <div class="form-group">
                    <label> Cidade: </label>
                    <span class="form-control"> {{ abrigo.endereco.cidade }} </span>
                  </div>
                  <div class="form-group">
                    <label> Bairro: </label>
                    <span class="form-control"> {{ abrigo.endereco.bairro }} </span>
                  </div>
                  <div class="form-group">
                    <label> Complemento: </label>
                    <span class="form-control"> {{ abrigo.endereco.complemento }} </span>
                  </div>
                </tab>
                <tab heading="Responsável">
                  <div class="form-group">
                    <label> Nome: </label>
                    <span class="form-control"> {{ abrigo.responsavel.nome }} </span>
                  </div>
                  <div class="form-group">
                    <label> E-mail: </label>
                    <span class="form-control"> {{ abrigo.responsavel.email }} </span>
                  </div>
                  <div class="form-group">
                    <label> Telefone: </label>
                    <span class="form-control"> {{ abrigo.responsavel.telefone }} </span>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
        <!-- <button class="float-button-right"> <i class="fas fa-chevron-right"></i> </button> -->
    </div>
  </div>

  <!-- animais para doação-->
  <div class="row padding15">
    <div class="col-md-2"></div>

    <div class=" card-container col-md-8">
      <div class="card-title">
        <h1> Animais para adoção </h1>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12" style="text-align: center">
            <ul class="list">
              <li class="item-list" *ngFor="let pet of pets">
                <div class="row">
                  <div class="col-md-2">
                    <img class="img-abrigo img-fluid" [src]="pet.fotoPerfil"/>
                  </div>
                  <div class="col-md-10 abrigo-info">
                    <button class="btn btn-principal btn-function" (click)="verDetalhesPet(pet)"> <i class="fas fa-info-circle"></i> </button>
                    <h5 class="abrigo-title"> {{ pet.nome }}  </h5> <br/>
                    <sub class="endereco"> {{ pet.raca }}</sub> <br/>
                    <sub class="endereco"> {{ pet.dataNascimento | date: 'dd/MM/yyyy' }} </sub> <br/>
                    <sub class="endereco"> {{ pet.historia }}</sub> <br/>
    
                  </div>
                </div>
              </li>
            </ul>
            <div *ngIf="pets.length === 0">
              <span class="f-22">Nenhum Pet encontrado</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>

</div>
