<div class="card-container row">
  <div class="card-title">
    <h1> Filtros </h1>
    <button class="btn btn-principal btn-sm btn-function" (click)="applyFilter()"> <i class="fas fa-search"></i></button>
    <button title="Limpar Busca" class="btn btn-sm btn-function" (click)="limparFiltros()"> <i class="f-gray fas fa-times-circle"></i></button>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col-md-3">
        <input class="form-control" placeholder="Nome do pet" [(ngModel)]="nomeInput">
      </div>
      <div class="col-md-3">
        <input class="form-control" placeholder="Raça do pet" [(ngModel)]="racaInput">
      </div>
      <div class="col-md-3">
        <ng-select [(ngModel)]="especieInput" [items]="['Todos','Cachorro', 'Gato']" placeholder="Espécie" [clearable]="false"></ng-select>
      </div>
      <div class="col-md-3">
        <ng-select [(ngModel)]="porteInput" [items]="['Todos','Pequeno', 'Médio', 'Grande']" placeholder="Tamanho" [clearable]="false"></ng-select>
      </div>
    </div>
  </div>
</div>

<div class="card-container row">
    <div class="card-title">
      <h1> Pets({{ models.length }}): </h1>
    <button class="btn btn-sm btn-function btn-principal" (click)="add()"> <i class="fas fa-plus"></i></button>
    </div>
    <div class="card-content">
      <table class="table table-striped table-hover">
        <thead class="thead-blue">
          <th> Nome </th>
          <th> Raça </th>
          <th> Espécie </th>
          <th> Porte </th>
          <th> Status </th>
          <th class="text-right"> Ações </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of models">
            <td> {{ item.nome }} </td>
            <td> {{ item.raca ? item.raca : 'Indefinido' }} </td>
            <td> {{ item.especie }} </td>
            <td> {{ item.porte }} </td>
            <td> <span class="dot" [ngClass]="{'green': item.adocao.status === 'Adotado', 'yellow': item.adocao.status === 'Disponível para Adoação', 'red': item.adocao.status === 'Não Disponível para Adoção'}"></span> {{ item.adocao.status }} </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="confirmDelete(item)"> <i class="fas fa-trash"></i> </button>
              <button class="btn btn-principal btn-sm" (click)="edit(item)"> <i class="fas fa-edit"></i> </button>
              <button class="btn btn-default btn-sm" (click)="read(item)"> <i class="fas fa-info-circle"></i> </button>
              <button class="btn btn-danger btn-sm" *ngIf="item.adocao.status === 'Disponível para Adoação' && item.adocao.status !== 'Adotado'" (click)="confirmAdocao(item, 'Não Disponível para Adoção')"> <i class="fas fa-home"></i> </button>
              <button class="btn btn-success btn-sm" *ngIf="item.adocao.status === 'Não Disponível para Adoção' && item.adocao.status !== 'Adotado'" (click)="confirmAdocao(item, 'Disponível para Adoação')"> <i class="fas fa-home"></i> </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
