/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr.css';
$color-darker: #0088ae;


.f-gray { color: #ab9f9f }
.b-blue { color: #00a7d5 }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.f-bold {font-weight: bold}

.padding15 {padding: 15px}
.p-relative {position: relative}

.card-container {
	height: auto;
	background-color:#fff;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
	padding: 15px;
	margin-bottom: 20px;

	.card-title {
		width: 100%;
		border-bottom: 2px solid $color-darker;
	}

	.card-title h1 {
		font-size: 26px;
		color: $color-darker;
		display: inline-block;
	}

	.card-content {
		width: 100%;
	}

	.filter-input {
		margin-bottom: 5px;
	}
}

table thead.thead-blue {
	background-color: $color-darker;
	color: #fff;
}

table tbody td button.btn {
	margin-left: 10px;
	float: right;
}

.btn.btn-principal {
	background-color: #00a7d5;
	border-color: #00a7d5;
	color: white;
}

.btn-function {
	margin-left: 5px;
	float: right;
}

.float-button-left{
	position:fixed;
	width:60px;
	height:60px;
	bottom: calc(50% - 60px);
	left:73px;
	background-color:#d3d3d3;
	color:#FFF;
	border-radius:50px;
	border: 0;
	text-align:center;
	box-shadow: 2px 2px 3px #999;

	-webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.float-button-right{
	position:fixed;
	width:60px;
	height:60px;
	bottom: calc(50% - 60px);
	right:73px;
	background-color:#d3d3d3;
	color:#FFF;
	border-radius:50px;
	border: 0;
	text-align:center;
	box-shadow: 2px 2px 3px #999;

	-webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.float-button-left:hover, .float-button-right:hover {
	background-color: $color-darker;
}

.has-error{
	border: 1px solid #dc3545 !important;
	color: #dc3545 !important;
}

.has-valid{
	border: 1px solid green !important;
}