<div class="card-container row">
  <div class="card-title">
    <h1> Editar Pet: {{ model.nome }} </h1>
    <button class="btn btn-success btn-sm btn-function" (click)="save()"> <i class="fas fa-save"></i></button>
    <button class="btn btn-sm btn-function" (click)="list()"> Voltar</button>
  </div>
  <div class="card-content">
    <form role="form" [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <tabset>
            <tab heading="Dados Gerais">
              <div class="row">
                <div class="col-md-3 text-center">
                  <img class="foto-perfil" #petfoto id="petfoto" [src]="getFoto()">
                  <label for="alterarFoto" class="btn btn-principal btn-alterar-foto"> Alterar foto</label> <br/>
                  <button *ngIf="blobPerfil" (click)="blobPerfil=null" class="btn btn-danger btn-alterar-foto"> <i class="fas fa-trash"></i></button>
                  <input type="file" style="display: none" name="alterarFoto" id="alterarFoto" (change)="uploadFile($event)">
                </div>
                <div class="col-md-9">
                  <div class="form-group p-relative">
                    <label> Nome: </label>
                    <input appFormUserFeedback [form]="form" formControlName="nome" type="text" class="form-control" placeholder="Nome">
                  </div>
                  <div class="form-group p-relative">
                    <label> Data de Nascimento: </label>
                    <input appFormUserFeedback [form]="form" [textMask]="{mask: mask.data}" formControlName="dataNascimento" type="text" class="form-control" placeholder="dd/mm/yyyy">
                  </div>
                  <div class="form-group p-relative">
                    <label> Sexo: </label>
                    <ng-select [items]="sexoOptions" bindLabel="label" bindValue="id" formControlName="sexo">
                    </ng-select>
                  </div>
                  <div class="form-group p-relative">
                    <label> Espécie: </label>
                    <ng-select appFormUserFeedback [form]="form" (change)="updateRacas($event)" placeholder="Espécie" [items]="['Cachorro', 'Gato']"
                     formControlName="especie">
                    </ng-select>
                  </div>
                  <div class="form-group p-relative">
                    <label> Raça: </label>
                    <ng-select appFormUserFeedback [form]="form" placeholder="Raça" [items]="racasOptions" formControlName="raca">
                    </ng-select>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Dados Adicionais">
              <div class="form-group p-relative">
                <label> História: </label>
                <textarea appFormUserFeedback [form]="form" formControlName="historia" class="form-control" placeholder="História..."></textarea>
              </div>
              <div class="form-group p-relative">
                <label> Pelagem: </label>
                <input appFormUserFeedback [form]="form" formControlName="pelagem" type="text" class="form-control" placeholder="Pelagem">
              </div>
              <div class="form-group p-relative">
                <label> Peso (kg): </label>
                <input appFormUserFeedback [form]="form" formControlName="peso" type="number" class="form-control" placeholder="Peso">
              </div>
              <div class="form-group p-relative">
                <label> Porte: </label>
                <ng-select appFormUserFeedback [form]="form" [items]="porteOptions" placeholder="Porte" formControlName="porte">
                </ng-select>
              </div>
              <div class="form-group p-relative">
                <label> Castrado: </label>
                <ng-select [items]="booleanValues" bindLabel="label" bindValue="id" formControlName="castrado">
                </ng-select>
              </div>
              <div class="form-group p-relative">
                <label> Deficiência / Doença: </label>
                <input appFormUserFeedback [form]="form" formControlName="deficienciasOuDoencas" type="text" class="form-control" placeholder="Deficiência ou doença">
              </div>
            </tab>
            <tab heading="Vacinas">
              <button class="btn btn-sm btn-function" style="margin: 10px" (click)="addVacina()"> Inserir Vacina </button>
              <table class="table table-striped table-hover">
                <thead class="thead-blue">
                  <th> Nome da vacina </th>
                  <th> Descrição </th>
                  <th> Data </th>
                  <th> Aplicada </th>
                  <th> Ações </th>
                </thead>
                <tbody formArrayName="vacinacoes">
                  <tr [formGroupName]="i" *ngFor="let item of form.get('vacinacoes').controls; let i = index;">
                    <td class="p-relative">
                      <input appFormUserFeedback [form]="form.get('vacinacoes').at(i)" type="text" formControlName="nome" class="form-control"
                      placeholder="Nome da vacina"/>
                    </td>
                    <td class="p-relative">
                      <input appFormUserFeedback [form]="form.get('vacinacoes').at(i)" type="text" formControlName="descricao" class="form-control"
                      placeholder="Descrição da vacina"/>
                    </td>
                    <td class="p-relative">
                      <input appFormUserFeedback [form]="form.get('vacinacoes').at(i)" type="text" formControlName="data" class="form-control"
                      placeholder="Data da aplicação da vacina" [textMask]="{mask: mask.data}"/>
                    </td>
                    <td class="p-relative">
                      <ng-select appFormUserFeedback [form]="form.get('vacinacoes').at(i)" [items]="booleanValues" bindLabel="label" bindValue="id"
                       formControlName="aplicada" placeholder="Vacina já aplicada"></ng-select>
                    </td>
                    <td> <button class="btn btn-sm btn-danger" (click)="removeInForm('vacinacoes', i)"> <i class="fas fa-trash"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Medicamentos">
              <button class="btn btn-sm btn-function" style="margin: 10px" (click)="addMedicamento()"> Inserir Medicamento </button>
              <table class="table table-striped table-hover">
                <thead class="thead-blue">
                  <th> Nome do medicamento </th>
                  <th> Apresentação </th>
                  <th> Dosagem </th>
                  <th> Contínuo </th>
                  <th> Ações </th>
                </thead>
                <tbody formArrayName="medicamentosEspecificos">
                  <tr [formGroupName]="i" *ngFor="let item of form.get('medicamentosEspecificos').controls; let i = index;">
                    <td class="p-relative">
                      <input appFormUserFeedback [form]="form.get('medicamentosEspecificos').at(i)" type="text" formControlName="nome" class="form-control"
                      placeholder="Nome do medicamento"/>
                    </td>
                    <td class="p-relative">
                      <input appFormUserFeedback [form]="form.get('medicamentosEspecificos').at(i)" type="text" formControlName="apresentacao" class="form-control"
                      placeholder="Apresentação"/>
                    </td>
                    <td class="p-relative">
                      <input appFormUserFeedback [form]="form.get('medicamentosEspecificos').at(i)" type="text" formControlName="dosagem" class="form-control"
                      placeholder="Dosagem do medicamento"/>
                    </td>
                    <td class="p-relative">
                      <ng-select appFormUserFeedback [form]="form.get('medicamentosEspecificos').at(i)" [items]="booleanValues" bindLabel="label" bindValue="id"
                       formControlName="usoContinuo" placeholder="Medicamento contínuo"></ng-select>
                    </td>
                    <td> <button class="btn btn-sm btn-danger" (click)="removeInForm('medicamentosEspecificos', i)"> <i class="fas fa-trash"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Alimentação">
              <button class="btn btn-sm btn-function" style="margin: 10px" (click)="addAlimento()"> Inserir Alimento </button>
              <table class="table table-striped table-hover">
                <thead class="thead-blue">
                  <th> Alimento </th>
                  <th> Ações </th>
                </thead>
                <tbody formArrayName="alimentacoesEspecificas">
                  <tr [formGroupName]="i" *ngFor="let item of form.get('alimentacoesEspecificas').controls; let i = index;">
                    <td class="p-relative">
                      <input appFormUserFeedback [form]="form.get('alimentacoesEspecificas').at(i)" type="text" formControlName="nome" class="form-control"
                      placeholder="Nome do alimento"/>
                    </td>
                    <td> <button class="btn btn-sm btn-danger" (click)="removeInForm('alimentacoesEspecificas', i)"> <i class="fas fa-trash"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Características">
              <div class="row">
                <div class="col-md-3 padding15 text-center">
                  <h4> Amizade com animais</h4>
                  <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': caracteristicas['grauAmizadeComAnimais'] >= i }"
                    (click)="changeCaracteristica('grauAmizadeComAnimais', i)"></i>
                </div>
                <div class="col-md-3 padding15 text-center">
                  <h4> Amizade com crianças</h4>
                  <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': caracteristicas['grauAmizadoComCriancas'] >= i }"
                    (click)="changeCaracteristica('grauAmizadoComCriancas', i)"></i>
                </div>
                <div class="col-md-3 padding15 text-center">
                  <h4> Amizade com desconhecidos</h4>
                  <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': caracteristicas['grauAmizadeComDesconhecidos'] >= i }"
                    (click)="changeCaracteristica('grauAmizadeComDesconhecidos', i)"></i>
                </div>
                <div class="col-md-3 padding15 text-center">
                  <h4> Brincalhão</h4>
                  <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': caracteristicas['grauBrincalhao'] >= i }"
                    (click)="changeCaracteristica('grauBrincalhao', i)"></i>
                </div>
                <div class="col-md-3 padding15 text-center">
                  <h4> Energia</h4>
                  <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': caracteristicas['grauEnergia'] >= i }"
                    (click)="changeCaracteristica('grauEnergia', i)"></i>
                </div>
                <div class="col-md-3 padding15 text-center">
                  <h4> Proteção</h4>
                  <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': caracteristicas['grauProtecao'] >= i }"
                    (click)="changeCaracteristica('grauProtecao', i)"></i>
                </div>
                <div class="col-md-3 padding15 text-center">
                  <h4> Agressivo</h4>
                  <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': caracteristicas['grauAgressividade'] >= i }"
                    (click)="changeCaracteristica('grauAgressividade', i)"></i>
                </div>
                <div class="col-md-3 padding15 text-center">
                  <h4> Medo de ruído</h4>
                  <i *ngFor="let i of [1,2,3,4,5]" class="fas fa-star stars-classificacao" [ngClass]="{'selected': caracteristicas['grauFobiaAoRuido'] >= i }"
                    (click)="changeCaracteristica('grauFobiaAoRuido', i)"></i>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
