.tooltip-feedback-text {
	color: #fff;
}

.tooltip-feedback {
	width: auto;
	max-width: 200px;
	background-color: rgba(236, 2, 2, 0.7);
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 9999;
	left: 0px;
	top: -32px;
}

.tooltip-feedback::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(236, 2, 2, 0.7) transparent transparent transparent; 
}